
@import "variables";
@import "dratamixins";

body.campfire {
	background:$dark;
	.dashboard {
		background: $superdark;
	}
	color:$superlight;
	h1, h2, h3, h4, h5, h6 {
		color:$superlight;
	}
	//WIDGET
	.widget-wrapper{
		background: $dark;
	}
	.widget-nav{
		border-color: $medium;
	}

	.widget-editor .widget-wrapper{
		background: $dark;
		border-color: $medium;
	}

	//END WIDGET

	//COMBO BOX
	.chk-dd-label{
		border-color: $medium;
	}
	//END COMBO BOX
	
	//CHARTS
	.numeric-chart .data-points{
		border-color: $medium;
	}
	ul.stacked-heading li {
		border-color: $medium;
	}
	.axis {
		text {
			fill: $light;
		}
		line {
			stroke: $kindadark;
			stroke-opacity: .6;
		}
	}
	.d3-tip {
		background: #fff;
		color: $kindadark;
		box-shadow: inset 0 2px 3px rgba(0,0,0, 0.3),inset 0 -2px 3px rgba(0, 0, 0, 0.3);
	}
	.d3-tip:after {
		color: rgba(255, 255, 255, 0.8);
	}
	.polytext-group text{
		fill: $superlight;
	}
	.polyline-group polyline {
		stroke: $superlight;
	}
	//END CHARTS

	//INPUTS
	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
		background-color: $dark;
		border-color: $kindadark;
		box-shadow: inset 0 1px 2px rgba(13,13,13, 0.4);
		color: $superlight;
	}
	select{
		background-color: $dark2;
		border-color: $kindadark;
		box-shadow: none;
		color: $superlight;
	}
	//END INPUTS

	//label
	label{
		color: $superlight;
	}
	//end label
	fieldset{
		border-color: $dark2;
	}
	.row .columns.combo-dd, .row .columns .combo-dd{
		border-color: $kindadark;
		background-color: $dark2;
	}

	span.postfix, label.postfix{
		background-color: $medium;
		border-color: $medium;
		//color: $superlight;
	}
	.keystroke, kbd{
		border-color: $dark;
		background-color: $dark2;
		color:$light;
	}
	.top-bar{
		background: $superdark;
		border-bottom: 1px solid $medium;
		.top-bar-text{
			background:$dark;
		}
		.top-bar-section {
			ul, .has-form {
				background: $superdark;
			}
			li:not(.has-form){
				a:not(.button){
					background: $superdark;
				}
				a:not(.button):hover{
					background: #000;
				}
			} 
		}
	}
	//segment
	.selection-action{
		color:$kindadark;
	}
	//end segment
	//svg
	.topgroup {
		rect{
			stroke-opacity:.8;
			fill-opacity:.8;
			stroke: $dark;
		}
		.line-group .line {
			stroke-width:1;
		}
		.arcs-group .arc {
	        stroke-opacity:.8;
	        fill-opacity:.8;
	    }
	}
	//end svg
	
	ul.combolist {
		border-color: $dark;
		background: $kindadark;
		box-shadow: 0 0 5px $dark;
		li {
			border-color: $medium;
			&:hover {
				background: $medium;
			}
		}
	}
	//widget manager
	.row.fancytable{
		border-color: $kindadark;
		&.header {
			background-color: $kindadark;
		}
		&.content:last-child {
			border-color: $kindadark;
		}
	}
	//end widget manager

	.form-error {
		background-color: $kindadark;
		color:#ccc;
	}
	.dr-modal {
		background-color: $medium;
		border-color:$dark;
		box-shadow: 1px 1px 1px $superdark;
	}

	//tables
	table tr.even, table tr.alt, table tr:nth-of-type(even){
		background: $dark;
	}

	table {
		background:$dark2;
		border-color: $dark2;
	}

	table tr th, table tr td {
		color:$superlight;
	}

	//end tables

	//complex combo
	.complexcombo {
		border-color:$medium;
		box-shadow: none;
		background: $dark2;
	}

	//end complex combo

	//alert box
	.alert-box.secondary {
		border-color: $medium;
		background: $dark2;
		color:$superlight;
	}
	//end alert box
	
	.widget-wrapper .widget-actions{
		background: $dark;
	}
	@include txt_placeholder($medium);
	@include fancyscrollbar($superdark, $dark);
}


