text{
    font: 13px arial;
}
.axis {
    path, line {
        stroke:#eee;
        fill:none;
        shape-rendering: crispEdges;
    }
    
    text{
        fill: #1f77b4;
    }  
}

.x.axis .tick line {
    stroke: #ccc;
}

.y.axis path.domain {
    display: none;
}

.line-group .line{
    fill:none;
    stroke-width:2;
}

.label-group {
    cursor:pointer;
}
.tool-tip {
    text-anchor:end;
    font: 12px arial;
}
.area-group .line{
    stroke-width:2;
    stroke-opacity:.6;
    fill-opacity:.5;
}

.arcs-group .arc {
    stroke: #fff;
    stroke-width: 1;
}

polyline{
    opacity: .3;
    stroke: #404040;
    stroke-width: 1px;
    fill: none;
}

/*D3 tool tip*/
.d3-tip {
    line-height: 1;
    font-size: 12px;
    padding: 10px;
    background: #404040;
    color: #F5F5F5;
    border-radius: 10px;
    position: absolute;
  box-shadow: 
    inset 0 2px 3px rgba(255,255,255,0.3),
    inset 0 -2px 3px rgba(0,0,0,0.3);
}
.d3-tip-header {
    width:100%;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

.rect-bar:hover{
    opacity: .8;
}
/*end D3 tool tip*/