
@import "../../foundation/scss/foundation/settings";

.combobox-container{
    width:50%;
    margin:0 auto;
    padding:20px;
    border:1px solid #222;
    height:400px;
}

input[type="text"].combo-error {
    border:1px solid #ff0000;
    
}
ul.combolist {
    border:1px solid #999;
    border-top:none;
    background: #f5f5f5;
    box-shadow: 0 0 5px #999999;
    max-height:200px;
    overflow: auto;
    font-size: 0.875rem;
    position:absolute;
    width:100%;
    top:2.3125rem;
    z-index:11;
    margin-bottom:0;
}

ul.combolist li {
    padding:.5rem;
    border-bottom:1px solid #ccc;

} 

ul.combolist input {
    margin-bottom: 0;
}

ul.combolist li:hover {
    background:#fff;
}
.row .columns.combo-dd, .row .columns .combo-dd{
    position: absolute;
    width:65px;
    z-index: 1;
    height: 2.3125rem;
    text-align: center;
    background-color: #e7e7e7;
    border: 1px solid #cccccc;
    font-size:0.875rem;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    text-indent:0;
    padding-right: .6rem;
    padding-left: .6rem;
}

.combo-txt input, .combo-dpicker input{
    padding-left:68px;
    margin-left:2px;
    //width: calc(100% - 2px);
    width: 99%;
}

.row .columns.combo-txt span.error{
    padding-left:65px;
}


/*dd checkbox list*/
.chk-dd{
    position: relative;
    cursor: pointer;
}
.chk-dd .chk-dd-arrow {
    position:absolute; 
    top: 10px; 
    right:6px
}
.chk-dd-label {
    width:100%;
    padding:.5rem 1.5rem .5rem .5rem;
    border:1px solid #ccc;
    font-size: 0.875rem;
    /*margin-bottom: 1rem;*/
    line-height: 1.2rem;
}
.chk-dd.small .chk-dd-label {
    padding: .2rem 1.5rem .2rem .2rem;
    font-size: .75rem;
    line-height: 1rem;
}

.chk-dd.small .chk-dd-arrow {
    top: 5px;
    font-size:12px;
}

.chk-dd.small ul.combolist {
    top: 1.55rem;
}
.chk-dd.small ul.combolist li {
    padding: 0 0 0 .2rem;
}

.glow {
    box-shadow: 0 0 5px #999999;
    border:1px solid #999;
}


/*end checkbox dropdown*/

/*--------Complex combo -----------*/

.complexcombo{
    border: 1px solid #999999;
    background: #f2f2f2;
    box-shadow: 0px 0px 5px 0px #999999;
    overflow: visible;
    font-size: 0.875rem;
    position: absolute;
    margin: -1rem 0 0 0;
    z-index: 11;
    padding: 0 0.9375rem;
    width: 350px;
}


.combolist.complexcombo ul.combolist{
    /*position:static;*/
    width:197px;
}
.complexcombo .complexcombo{
    margin-left:-6px;
}



.complexcombo .row .row, .complexcombo .row .row, .conditioncombo .row .row, .conditioncombo .row .row {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
}

.complex-overlay.top-selection {
    position: absolute;
    top: 0;
    left: 77px;
    right: 14px;
    z-index: 9;
}

.complex-overlay {
    height: 2.3125rem;
    padding:0.7rem 0.5rem 0.5rem 0.5rem;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-weight: normal;
    margin-bottom: 1rem;
    font-size:.8125rem;
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f;
}

.complex-overlay:hover{
    background-color:#74bfdd;
}

/*-------End Complex combo---------*/
