.combobox-container{
    width:50%;
    margin:0 auto;
    padding:20px;
    border:1px solid #222;
    height:400px;
}

input[type="text"].combo-error {
    border:1px solid #ff0000;
    
}
ul.combolist {
    border:1px solid #999;
    border-top:none;
    background: #f5f5f5;
    box-shadow: 0 0 5px #999999;
    max-height:200px;
    overflow: auto;
    font-size: 0.875rem;
    position:absolute;
    width:100%;
    top:2.3125rem;
    z-index:11;
    margin-bottom:0;
}

ul.combolist li {
    padding:.5rem;
    border-bottom:1px solid #ccc;

} 

ul.combolist input {
    margin-bottom: 0;
}

ul.combolist li:hover {
    background:#fff;
}
.row .columns.combo-dd, .row .columns .combo-dd{
    position: absolute;
    width:65px;
    z-index: 8;
    height: 2.3125rem;
    text-align: center;
    background-color: #e7e7e7;
    border: 1px solid #cccccc;
    font-size:0.875rem;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    text-indent:0;
    padding-right: .6rem;
    padding-left: .6rem;
}
.row .columns.combo-txt input{
    padding-left:68px;
    margin-left:2px;
    width: calc(100% - 2px);
    width: 99%;
}

.row .columns.combo-txt span.error{
    padding-left:65px;
}


/*dd checkbox list*/
.chk-dd{
    position: relative;
}
.chk-dd .chk-dd-arrow{
    position:absolute; 
    top: 10px; 
    right:6px
}
.chk-dd-label{
    width:100%;
    padding:.5rem;
    border:1px solid #ccc;
    font-size: 0.875rem;
    /*margin-bottom: 1rem;*/
    line-height: 1.2rem;
}


.glow {
    box-shadow: 0 0 5px #999999;
    border:1px solid #999;
}


/*end checkbox dropdown*/

/*--------Complex combo -----------*/

.complexcombo{
    border: 1px solid #999999;
    background: #f2f2f2;
    box-shadow: 0px 0px 5px 0px #999999;
    overflow: visible;
    font-size: 0.875rem;
    position: absolute;
    margin: -1rem 0 10rem 0;
    z-index: 11;
    padding: 0 0.9375rem;
    width: 300px;
}

i.complexcombo-toggle{
    position: absolute;
    right: 16px;
    top: 9px;    
    color:#358854;
}

.combolist.complexcombo ul.combolist{
    /*position:static;*/
    width:197px;
}
.complexcombo .complexcombo{
    margin-left:-6px;
}
.conditioncombo{
    /*overflow: hidden;*/
}
.complexcombo .row .columns, .complexcombo .row .column, .conditioncombo .row .columns, .conditioncombo .row .column {
  padding-left: .6rem; /* change the values to anything that you want */
  padding-right: .6rem;
}

.complexcombo .row .row, .complexcombo .row .row, .conditioncombo .row .row, .conditioncombo .row .row {
  margin-left: -0.6rem; /* change the values to anything that you want */
  margin-right: -0.6rem;
}

.complex-overlay.top-selection {
    position: absolute;
    top: 0;
    left: 77px;
    right: 14px;
    z-index: 9;
}

.complex-overlay {
    height: 2.3125rem;
    padding:0.7rem 0.5rem 0.5rem 0.5rem;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-weight: normal;
    margin-bottom: 1rem;
    font-size:.8125rem;
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f;
}

.complex-overlay:hover{
    background-color:#74bfdd;
}

/*-------End Complex combo---------*/

/*-------Edit Label---------*/
.edit-label .title-display{
    display: block;
    height:1.5rem;
}
.edit-label input {
    height:1.8rem;
    background: transparent;
}
.edit-label .postfix {
    height: 1.8rem;
}
.edit-label .postfix i {
    top: -4px;
}

.edit-label .title-display span, .edit-label .title-display a{
    line-height: 1.5rem;
    height:1.5rem;
}
.edit-label .title-display i{
    line-height: 1rem;
    height:1rem;
}
.edit-label.edit .title-display{
    display: none;
}
 .edit-label .title-edit{
    display: none;
 }
.edit-label .title-edit input{ 
    margin-bottom: 0;
 }
 .edit-label.edit .title-edit{
    display: block;
 }
 .title-display .edit-icon{
    display: none;
 }
 .title-display:hover .edit-icon{
    display:inline;
 }
 /*-------Edit Label---------*/