@import '../../foundation/scss/foundation/settings';

.label.tag{
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
}
h3 small.bent{
    font-style: italic;
}


h3.view-heading {
  font-weight: 300;
  margin:20px 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
}

@for $i from 1 through 4 {
    .flex-#{$i} {
        flex: $i;
    }
}

@media #{$small-only} {
    @for $i from 1 through 4 {
        .small-flex-#{$i} {
            flex: $i;
        }
    }
    .dashboardView-widgetList {
        margin-top: 15px;
    }
}

@media #{$medium-up} {
    .detail-expand {
        margin-left: 80px;
    }

    .dashboardView-widgetList {
        margin: 15px 0 0 40px;
    }
}

.detail-header {
    text-align: left;
    font-weight: 500;
    height: 40px;
    border-bottom: 1px solid #ccc;
}

.detail-expand {
    margin-left: 40px;
}

.detail-expand, 
.dashboardView-widgetList {
    display: none;
}

.detail-content.expand > .detail-expand,
.detail-content.expand > .dashboardView-widgetList
{
    display: block;
}
.detail-content.expand {
    background-color: #fff;
}

.detail-toggle {
    visibility: hidden;
    position: absolute;
}

.detail-action {
    flex: 0 0 30px;
}

.detail-manage {
    flex: 0 0 60px;
}

.detail-content {
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
}

.dashboardView-widgetList .detail-header {

}

.dashboardView-actions {
    flex: 0 0 105px;
}