
@mixin fancyscrollbar($thumb, $track){
	::-webkit-scrollbar {
	    width: 10px;
	}
	 
	::-webkit-scrollbar-track {
	    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    background: $track;
	    border-radius: 10px;
	}
	 
	::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	    background: $thumb;
	}
}

@mixin txt_placeholder($color){
	::-webkit-input-placeholder {
	   color: $color;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $color;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	}

	:-ms-input-placeholder {  
	   color: $color;  
	}
}

@mixin rotate($angle){
	/* Safari */
	-webkit-transform: rotate(unquote($angle + 'deg'));

	/* Firefox */
	-moz-transform: rotate(unquote($angle + 'deg'));

	/* IE */
	-ms-transform: rotate(unquote($angle + 'deg'));

	/* Opera */
	-o-transform: rotate(unquote($angle + 'deg'));

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@mixin inner_shadow($inset, $shadow_color){
	-moz-box-shadow:    unquote("inset 0 0 " + $inset + " " + $shadow_color);
	-webkit-box-shadow: unquote("inset 0 0 " + $inset + " " + $shadow_color);
	box-shadow:         unquote("inset 0 0 " + $inset + " " + $shadow_color);
}

@mixin logo($height){
	height: $height;
    width: 100%;
	text-align:center;
	//background-color: $orange_base;
    color : $superdark;
    //font-size: 6rem;
    font-family: akashi;
    text-shadow:#fff 0px 3px 0px;
    line-height: $height;
}
