@import "variables";
@import "dratamixins";

@font-face {
	font-family: exo;
	src: url('../style/fonts/Exo-Regular.otf');
}
@font-face {
	font-family: akashi;
	src: url('../style/fonts/Akashi.ttf');
}
body {
	position:relative;
	overflow:hidden;
	font-family: exo;
	background-image:url('/images/bg.png') !important;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-content {
	background: rgba(0,0,0, .6);
	padding-right:30%;
	color :#fff;
	.heading {
		font-size: 4rem;
		color :#fff;
	}
	.subheader{
		font-style: italic;
	}
}

.r-corner {
	position:absolute;
	overflow: hidden;
	width:100%;
	@include rotate(45);
	width: 550px;
	right: -178px;
	top: -40px;
	z-index: 10;
}
.r-corner1 {
	height: 100px;
    width: 100%;
	text-align:center;
	background-color: $superdark;
	.take_demo {
		color : $orange_base;
		font-size: 2.5rem;
	}
	border-bottom:1px solid $orange_base;
	line-height: 100px;
	padding-top: 10px;
}
.r-corner2 {
	height: 75px;
    width: 100%;
	text-align:center;
	background-color: $dark;
	color : $superlight;
	font-size: 2rem;
	font-family: exo;;
	border-bottom:2px solid $superdark;
    ul.menu {
		clear:left;
		float:left;
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		left:50%;
		text-align:center;

    	li {
    		margin:0 1rem;
    		display:block;
			float:left;
			list-style:none;
			position:relative;
			right:50%;
			line-height: 75px;
    	}
    }
}

.r-corner3 {
	height: 100px;
    width: 100%;
	text-align:center;

	background-color: $orange_base;
    color : $dark;
    font-size: 6rem;
    font-family: akashi;
    text-shadow:$superlight 0px 3px 0px;
    line-height: 100px;
}

.dash-bg {
	////background-image:url('/images/chart_palette_482.png');
	//background-repeat: repeat;
	height:100px;
	width:100%;
	//background-color: $dark;
	svg {
		opacity: .4;
	}
	position:relative;
	top:200px;
}

