@import "variables";
@import "dratamixins";

@font-face {
	font-family: exo;
	src: url('../style/fonts/Exo-Regular.otf');
}
@font-face {
	font-family: akashi;
	src: url('../style/fonts/Akashi.ttf');
}
body {
	position:relative;
	font-family: exo;
	background-color: $dark;
}

.r-corner {
	position:absolute;
	overflow: hidden;
	width:100%;
	@include rotate(45);
	width: 550px;
	right: -178px;
	top: -40px;
	z-index: 11;
	box-shadow: 0px 3px 10px #000;
}
.r-corner1 {
	height: 100px;
    width: 100%;
	text-align:center;
	background-color: $superdark;
	.take_demo {
		color : $orange_base;
		font-size: 2.5rem;
	}
	border-bottom:1px solid $orange_base;
	line-height: 100px;
	padding-top: 10px;
}

.r-corner2 {
	height: 75px;
    width: 100%;
	text-align:center;
	background-color: $dark;
	color : $superlight;
	font-size: 2rem;
	font-family: exo;
	border-bottom:2px solid $superdark;
    ul.menu {
		clear:left;
		float:left;
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		left:50%;
		text-align:center;

    	li {
    		margin:0 1rem;
    		display:block;
			float:left;
			list-style:none;
			position:relative;
			right:50%;
			line-height: 75px;
    	}
    }
}

.r-corner3 {

	background-color: $orange_base;
    font-size: 6rem;
    @include logo(100px);
}

.l1 {
	background: rgba($dark,1);
	line-height:2rem;
	font-size:2rem;
	padding:20px 370px 20px 0.9375rem;
	border-bottom: 1px solid $orange_base;
	color:#fff;
}

.slide-bg-wrapper {
	color:$superlight;
	max-width: 1200px;
	padding:30px 0 0 0;
	width:100%;
	position: relative;
	background:$dark;
	//background-image: linear-gradient(0deg,$dark 0,$superdark 100%);
}

.header-content {
	padding-left:400px;
	padding-top: 40px; 
	.heading {
		padding-right:110px;
		color: $orange_base;
	}
	.subheading {
		padding-right:110px;
		button, .button {
			margin-top:1.5rem;
		}
	}

}

.pie-menu {
	position: relative;
	padding-top:40px;
	width:400px;
	height:400px;
	left:-20px;
	float:left;
}

.header-chart{
	height: 100%;
	width: 100%;
	z-index: 12;
	position: absolute;
	.arcs-group{
		opacity: .8;
		.arc {
			stroke-width:3;
			stroke: $dark;
		}	
		cursor:pointer;
	}
	.text-group{
		& text{
			font:20px arial;
		}
		cursor:pointer;	
	}
}

.header-chart-inner{
	z-index: 9;
	height:100%;
	width: 100%;
	padding:80px;
	position: absolute;
	.arcs-group{
		opacity: .8;
		.arc {
			stroke-width:3;
			stroke: $dark;
		}	
	}
	.text-group text{
		display: none;
	}
}

.feature-section {
	//background-image: linear-gradient(0deg,$superdark 0,$dark 100%);
	padding-top:20px;
	padding-bottom:20px;
	.heading {
		color: $superlight;
	}
	:hover .heading{
		color:$orange_base;
	}
	.content {
		color: $light;
		font-size: 1.1em;
	}
}

.home-button {
	background-color: #EA8219;
}
.home-button:hover {
	background-color: rgb(221,117,12);
}

.vis, .vismain {
	display: inline-block;
	rect {
		stroke:$superdark;
	}
}
.vis {
	height:20px;
	width:20px;
	margin-right: 4px;
}
.vismain {
	height: 25px;
	width: 25px;
	position: relative;
	top: 1px;
}

@media screen and (min-width: 1024px){
	.feature-section {
		padding-left:40px;
	}
}
@media screen and (max-width: 1024px){
	.header-content {
		.subheading {
			padding-right:75px;
		}
	}
}
@media screen and (max-width: 768px){
	.pie-menu {
		height:300px;
		width: 100%;
		float: none;
		left:-50px;
	}
	.header-chart {
		.text-group text{
			font:14px arial;
		}
	}
	
	.header-chart-inner{
	}
	.header-content {
		padding:0;
		.heading {
			padding:0;
		}
		.subheading { 
			padding:0;
		}
	}
}

.footer{
	background-color: $superdark;
	padding:20px 0;
	text-align: center;
	color:$superlight;
}

@media screen and (max-width: 1024px){
.r-corner {
	right: -184px;
	top: 13px;
}
.r-corner1 {
	height: 100px;
    .take_demo {
		font-size: 2.5rem;
	}
	line-height: 100px;
	padding-top: 10px;
}

.r-corner2 {
	height: 75px;
    font-size: 2rem;
    ul.menu {
    	li {
    		line-height: 75px;
    	}
    }
}

.r-corner3 {
	height: 75px;
    font-size: 3.6rem;
    line-height: 75px;
}
}

@media screen and (max-width: 768px){
.l1 {
	font-size: 1.5rem;
}
}