@import "variables";
@import "dratamixins";

@font-face {
	font-family: exo;
	src: url('../style/fonts/Exo-Regular.otf');
}
@font-face {
	font-family: akashi;
	src: url('../style/fonts/Akashi.ttf');
}
body {
	position:relative;
	font-family: exo;
}

.r-corner {
	position:absolute;
	overflow: hidden;
	width:100%;
	@include rotate(45);
	width: 550px;
	right: -178px;
	top: -40px;
	z-index: 11;
	box-shadow: 0px 3px 10px #000;
}
.r-corner1 {
	height: 100px;
    width: 100%;
	text-align:center;
	background-color: $superdark;
	.take_demo {
		color : $orange_base;
		font-size: 2.5rem;
	}
	border-bottom:1px solid $orange_base;
	line-height: 100px;
	padding-top: 10px;
}

.r-corner2 {
	height: 75px;
    width: 100%;
	text-align:center;
	background-color: $dark;
	color : $superlight;
	font-size: 2rem;
	font-family: exo;
	border-bottom:2px solid $superdark;
    ul.menu {
		clear:left;
		float:left;
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		left:50%;
		text-align:center;

    	li {
    		margin:0 1rem;
    		display:block;
			float:left;
			list-style:none;
			position:relative;
			right:50%;
			line-height: 75px;
    	}
    }
}

.r-corner3 {
	height: 100px;
    width: 100%;
	text-align:center;

	background-color: $orange_base;
    color : $superdark;
    font-size: 6rem;
    font-family: akashi;
    text-shadow:#fff 0px 3px 0px;
    line-height: 100px;
}

.l1 {
	background: rgba($dark,1);
	//min-height:141.421px;
	font-size:2rem;
	padding:20px 370px 20px 0.9375rem;
	color:#fff;
}

.slide-bg-wrapper {
	color:$superlight;
	width:100%;
	position: relative;
	overflow: hidden;
	//background-image: url('/images/connection_light.jpg');
	background-repeat: repeat;
	//background-position: 50% 50%;
	background:$dark;
	background-size: cover;
	background-attachment: fixed;
	border-top: 1px solid $orange_base;
	&:before {
		content: "";
		display: block;
		width: 100%;
		position: absolute;
		background: red;
		height: 16px;
		z-index: 2;
	}
	&:before {
		bottom: -16px;
		box-shadow: 0px -2px 45px rgba($dark,1);
	}
	&:after {
		//top: -16px;
		//box-shadow: 0px 8px 16px rgba($dark, .9);
	}
}

.header-content {
	padding-left:400px;
	padding-top: 40px; 
	.heading {
		padding-right:240px;
		color: $orange_base;
	}
	.subheading {
		padding-right:150px;
		//color:$superlight;
		button, .button {
			margin-top:1.5rem;
		}
	}

}

.pie-menu {
	position: relative;
	width:400px;
	height:400px;
	left:-20px;
	float:left;
}

.header-chart{
	height: 100%;
	width: 100%;
	z-index: 12;
	position: absolute;
	.arcs-group{
		opacity: .8;
		.arc {
			stroke-width:3;
			stroke: $dark;
		}	
		cursor:pointer;
	}
	.text-group{
		& text{
			font:20px arial;
		}
		cursor:pointer;	
	}
}

.header-chart-inner{
	z-index: 9;
	height:100%;
	width: 100%;
	padding:80px;
	position: absolute;
	.arcs-group{
		opacity: .8;
		.arc {
			stroke-width:3;
			stroke:$dark;
		}	
	}
	.text-group text{
		display: none;
	}
}
.callout {
	height: 200px;
	[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
		font-size:60px;
		display: block;
		width: 100%;
		margin-left: 0;
		height:100px;
		padding-top:50px;
	}
	.desc{
		height:100px;
		line-height: 100px;
		transition: all .1s linear;
		font-size: 20px;
	}
	.barchi {
		visibility: hidden;
		height:40px;
		padding:0 20px;
		svg {
			opacity: .5;
		}
	}
	rect{
		stroke : $dark;
	}
	
	background-color: $dark;
	transition: all .1s linear;
	//color:$superlight;
	&:hover{
		//background-color: $orange_base;
		color:$orange_base;
		.barchi {
			visibility: visible;
		}
		.desc{
			height:60px;
			line-height: 60px;
			//font-size: 14px;
		}
	}
}

@media screen and (max-width: 768px){
	.pie-menu {
		height:300px;
		width: 100%;
		float: none;
		left:-50px;
	}
	.header-chart {
		.text-group text{
			font:14px arial;
		}
	}
	
	.header-chart-inner{
	}
	.header-content {
		padding:20px;
		.heading {
			padding:0;
		}
		.subheading { 
			padding:0;
		}
	}
}

.cake {
	background-color: $kindadark;
	position: relative;
	padding:20px 0;
	border-bottom: 1px solid $dark;
	h3 {
		color: $orange_base;
		small {
			color : $superlight;
		}
	}
	[class^="flaticon-"], [class*=" flaticon-"]{
		display: inline !important;
	}
	[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
		margin-left: 0;
	}	
	.cake-visual{
		color:$superlight;
		[class^="flaticon-"], [class*=" flaticon-"]{
			position: relative;
			top:60px;
			margin-left: 20px;
		}
		[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
			font-size:80px;
		}	
	}
	
}
.footer{
	background-color: $superdark;
	padding:20px 0;
	text-align: center;
	color:$superlight;
}

@media screen and (max-width: 1024px){
.r-corner {
	right: -184px;
	top: 13px;
}
.r-corner1 {
	height: 100px;
    .take_demo {
		font-size: 2.5rem;
	}
	line-height: 100px;
	padding-top: 10px;
}

.r-corner2 {
	height: 75px;
    font-size: 2rem;
    ul.menu {
    	li {
    		line-height: 75px;
    	}
    }
}

.r-corner3 {
	height: 90px;
    font-size: 4rem;
    line-height: 90px;
}
}
