
.keystroke.expression{
    margin-bottom: 15px;
    line-height: 1.3rem;
}

fieldset legend {
    background:transparent;
}

select.error{
    margin-bottom:0;
    border:1px solid #f04124;
}

.form-error{
    background-color: #EDC4BD;
    border:1px solid #f04124;
    padding:0 1.125rem;
}

.form-error .heading{
    margin-top:.5rem;
}

/*selections*/

[class^="icon-"].selection-action, [class*=" icon-"].selection-action {
    color: #ccc;
    line-height: 2rem;
    right:-6px;
    position: absolute;
}

[class^="icon-"].condition-action, [class*=" icon-"].condition-action {
    color: #ccc;
    line-height: 2rem;
}

.selection-action.alert:hover, .condition-action.alert:hover {
    color:#f04124;
}
.selection-action.success:hover, .condition-action.success:hover{
    color:#368a54;
}

/* Date picker */
.ui-datepicker .ui-datepicker-title{
    font-weight:normal;
    line-height: 1rem;
}
/* End Date picker */


/*End selections*/

@media only screen and (max-width: 350px) {
    .ui-datepicker-div{
        width:100%;
        left:0;
    }
}

