
@import "../../foundation/scss/foundation/settings";

.keystroke.expression{
    margin-bottom: 15px;
    line-height: 1.3rem;
}

fieldset legend {
    background:transparent;
}

select.error{
    margin-bottom:0;
    border:1px solid #f04124;
}

.form-error{
    background-color: #edc4bd;
    padding: 0 1rem;
    top: 45px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 1px #404040;
    max-height: 90px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-error .heading{
    margin-top:.5rem;
}

/*selections*/

[class^="fa-"].selection-action, [class*=" fa-"].selection-action {
    color: #ccc;
    line-height: 2rem;
    right:-6px;
    position: absolute;
}

[class^="fa-"].condition-action-complex, [class*=" fa-"].condition-action-complex {
    line-height: 2rem;
    color: $primary-color;
}

[class^="fa-"].condition-action-cancel, [class*=" fa-"].condition-action-cancel {
    line-height: 2rem;
    color: $alert-color;
}

.selection-action.alert:hover{
    color:#f04124;
}
.selection-action.success:hover{
    color:#368a54;
}

/* Date picker */
.ui-datepicker .ui-datepicker-title{
    font-weight:normal;
    line-height: 1rem;
}
/* End Date picker */


/*End selections*/

@media only screen and (max-width: 350px) {
    .ui-datepicker-div{
        width:100%;
        left:0;
    }
}


/*Group by conditions*/
.groupby-condition {
    .value {
        width:80%; 
        display:inline-block;
    }
    .condition-action-cancel {
        position:absolute;
        right:0;
    }
    .add-condition{
        margin-bottom:0;
    }
}
/*end Group by conditions*/


/*chart types shown on segmentor*/
.chart-types {
    padding: 0 0.625rem;
}

.chart-types > li {
    padding-left: 0;
    padding-right: 0;
}

.chart-types > li .button {
    border-left:1px solid #DCDCDC;
}

.chart-types > li:first-child .button {
    border-left: none;
}

.chart-types .chart-icon {
    display:block;
    margin-bottom: 10px;
}
.chart-types .chart-type {
    display: block;
}
/*end chart types shown on segmentor*/

@media #{$medium-up} {
ul.chart-types > li > a {
    padding-left: 0;
    padding-right: 0;
}
}