
.tabular {
}

.tabular-content {
	overflow-y: scroll;
	border-left: 1px solid #cccccc;
	padding: 0 0.9375rem;
	border-right: 1px solid #cccccc;
}

.tabular .chk-dd {
    
}

.tabular-wrapper {
    font-size: .75rem;
}

.tabular-body, .tabular-header,  .tabular-body-header {
    padding:5px 0;
}

.tabular-body-header, .tabular-header {
    font-weight:bold;
}
.tabular-header {
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}