
.tabular {
}

.tabular .chk-dd {
    
}

.tabular-wrapper {
    font-size: .75rem;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
}

.tabular-body, .tabular-header,  .tabular-body-header {
    padding:5px 0;
}

.tabular-body-header, .tabular-header {
    font-weight:bold;
}
.tabular-header {
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}