@import "variables";

span{
  &.dtooltip {
    color: $primary;
    cursor: pointer;
    z-index: $z1;
    //display:none;
  }
  &.dtooltip-aggregate-func{
    position:absolute;
    left: 24px;
    top: -1px;
  }
  &.dtooltip-selection-prop {
    position:absolute;
    right: 32px;
    top: 10px; 
  }
  &.dtooltip-expression {
    right: 19px;
    top: 4px;
    position:absolute;
  }
  &.dtooltip-complexcondition {
    position: absolute;
    right: 20px;
    top: 8px;
  }
}
