
@import '../../foundation/scss/foundation/settings';

.preview-placeholder {
  border: 5px dashed #cccccc;
  text-align: center;
  display: table;
  min-height: 300px;
  width:100%;
  .heading {
    display: table-cell;
    vertical-align: middle;
  }
}

.preview-widget .widget-outer {
  padding: .5rem 0;
}

.tabular-data {
  transition: all .5s;
  overflow-y: hidden;
  max-height: 0;
  border-bottom: 1px solid #ccc;
}

.tabular-data {
  margin-bottom: 20px;
}

.chk-tabular {
  visibility: hidden;
  position: absolute;
}

.chk-tabular:checked ~ .tabular-data {
  max-height: 1000px;
}

.toggle-tabular {
  margin:10px 0;
  font-size: 1rem;
  color: #008cba;
  display: inline-block;
}

@media #{$large-up} {
  .preview-widget {
    position:fixed;
    right:0;
    .widget-wrapper {
      background:transparent;
      border: 1px dashed #ccc;
    }
  }
  .tabular-data {
    max-height: 1000px;
  }
  label.toggle-tabular {
    display: none;
  }
}