<script type="text/html" id="dashboardmanager-template">

        <div class="row">
            <div class="medium-3 columns">
                <ul class="tag-filter no-bullet">
                    <li>
                        <strong>Filter by tags: </strong>
                    </li>
                    <li>
                         <input type="checkbox" id="chkAll" data-bind="click: toggleAllTags" />
                        <label>Select All</label>
                    </li>
                    <!-- ko foreach: tagsList -->
                    <li>
                        <input type="checkbox" data-bind="attr:{'id': 'chk'+ $index()}, checkedValue: $data, checked: $parent.chosenTags" />
                        <label data-bind="attr:{'for': 'chk'+ $index()}, text: $data"></label>
                    </li>
                    <!-- /ko -->
                    <li>
                         <input type="checkbox" id="chkUnTagged" data-bind="checkedValue: 'untagged', checked: chosenTags" />
                        <label for="chkUnTagged">Untagged</label>
                    </li>
                </ul>
            </div>
            <div class="left medium-9 columns">
                <div class="row">
                    <div class="small-3 columns">
                        <h5>Dashboards</h5>
                    </div>
                    <div class="small-3 columns">
                        <button class="tiny" data-bind="click: showAddDashboard">Add Dashboard</button>
                    </div>
                    <div class="small-6 columns">
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input type="text" data-bind="" placeholder="Search"></input>
                            </div>
                            <div class="small-2 columns">
                                <span class="postfix"><i class="general foundicon-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dr-modal" data-bind="with: dashboardHolder, css: {'showme': addingDashboard}">
                    <div class="row">
                        <div class="small-12 columns">
                            <input type="text" placeholder="Dashboard name" data-bind="value:cloneName" />
                            </label>
                        </div>
                    </div>
                    <!-- ko if: widgetList().length>0 -->
                    <h6 class="strong">Included widgets</h6>
                        <ul class="tag-filter no-bullet" data-bind="foreach: widgetList">
                            <li>
                                <input type="checkbox" style="margin:0" data-bind="attr:{'id': 'chk_widget'+ $index()}, checkedValue: $data, checked: $parent.chosenWidgets" />
                                <label data-bind="attr:{'for': 'chk_widget'+ $index()}, text: name"></label>
                            </li>
                        </ul>
                    <!-- /ko -->
                    <!-- ko template : {name: 'tags-template'} --><!-- /ko -->

                    <div class="row">
                        <div class="small-6 columns">
                            <button style="margin-bottom:0" class="button left tiny success" data-bind="click:upsertDashboard"><i class="general foundicon-plus"></i>&nbsp;Add</button>
                        </div>
                        <div class="small-6 columns">
                            <button style="margin-bottom:0" class="right button alert tiny" data-bind="click:$parent.closePopup.bind($parent)"><i class="general foundicon-remove"></i>&nbsp;Cancel</button>
                        </div>
                    </div>

                    <i class="closepopup general foundicon-remove"  data-bind="click: $parent.closePopup.bind($parent)"></i>
                </div>
                <div class="row fancytable header">
                    <div class="small-4 columns">Dashboard Name</div>
                    <div class="small-4 columns">Date Created</div>
                </div>
                <!-- ko template: {name: 'dashboardView-template', foreach: filteredDashboards} -->
                <!-- /ko --> 
            </div>
        </div>
    </script>
    <script type="text/html" id="dashboardView-template">
        <div class="row fancytable content">
            <div class="small-4 columns" style="padding-left:30px">
               <!-- ko editLabel: {title: name, href:url} -->
               <!-- /ko -->
            </div>
                
            <div class="small-4 columns">
                <label data-bind="text: dateCreated"></label>
            </div>
            <div class="small-4 columns">
                <a data-bind="click: $parent.cloneDashboard.bind($parent)">clone</a>&nbsp; <a data-bind="click:$parent.deleteDashboard.bind($parent)">remove</a>
            </div>
            <i class="general" style="position:absolute; top:12px;left:12px" data-bind="{click: viewDetails,css: {'foundicon-plus': !toggleExtendedDetails(), 'foundicon-minus': toggleExtendedDetails}}"></i> 
        </div>
        <!-- ko if: toggleExtendedDetails -->
        <div class="row fancytable">
            <div class="medium-12 columns">
                    <div class="row fancytable header">
                        <div class="medium-4 columns">Widget Name</div>
                        <div class="medium-2 columns">Chart Type</div>
                        <div class="medium-3 columns">Collection</div>
                        <div class="medium-3 columns">Last Updated</div>
                    </div>

                    <!-- ko template :{name:'widgetDetails-template', foreach: widgetList} -->
                    <!-- /ko -->
            </div>

            <div class="medium-12 columns" data-bind="template: {name: 'tags-template'}">
            </div>
        </div>
        <!-- /ko -->
    </script>
    
    <script type="text/html" id="tags-template">
        <div class="row">
            <div class="small-12 columns" style="margin:1rem 0">
                <strong>Tags:</strong>
                <!-- ko foreach: tagList -->
                    <span class="label success tiny tag">
                        <i class="general foundicon-remove" data-bind="click:$parent.removeTag"></i>
                        <!--ko text: tagName --><!-- /ko --> 
                    </span>
                <!-- /ko -->
                 <a data-bind="visible: !addingTag(), click:toggleTagInput.bind($data, true)"><i class="general foundicon-plus"></i> Add Tag</a>
            </div>
        </div>
        <div class="row">
            <div style="min-width:250px" class="small-12 medium-6 columns" data-bind="visible: addingTag">
                <div class="row collapse">
                    <div class="small-8 columns" data-bind="comboBox :{selectedValue: newTag, options: availableTags,optionsCaption:'choose tag'}">
                    </div>
                    <div class="small-2 columns">
                        <a data-bind="click:addTag" class="button postfix success"><i class="general foundicon-checkmark"></i></a>
                    </div>
                    <div class="small-2 columns">
                        <a data-bind="click:toggleTagInput.bind($data, false)" class="button postfix alert"><i class="general foundicon-remove"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="widgetmanager-template" type="text/html">

        <div class="row">
            <div class="medium-3 columns">
                <ul class="tag-filter no-bullet">
                    <li>
                        <strong>Filter by Chart Type: </strong>
                    </li>
                    <!-- ko foreach: drata.global.chartTypes -->
                    <li><input type="checkbox" data-bind="attr:{'id': 'chk_chartType'+ $index()}, checkedValue: $data, checked: $parent.chosenChartTypes" />
                        
                        <label data-bind="attr:{'for': 'chk_chartType'+ $index()}, text: $data"></label>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
            <div class="medium-9 columns">
                <div class="row">
                    <div class="small-3 columns">
                        <input id="dhkSelectAllWidgets" data-bind="click: toggleAllChosenWidgets" type="checkbox"></input> <label for="dhkSelectAllWidgets">Select All</label>
                    </div>
                    <div class="small-3 columns">
                        <button class="tiny" data-bind="click: addWidgets">Add</button>
                    </div>
                </div>
                <div class="row fancytable header">
                        <div class="medium-4 columns">Widget Name</div>
                        <div class="medium-2 columns">Chart Type</div>
                        <div class="medium-3 columns">Collection</div>
                        <div class="medium-3 columns">Last Updated</div>
                    </div>
                <!-- ko template :{name:'widgetDetails-template', foreach: widgetList} -->
                <!-- /ko -->
            </div>
        </div>
    </script>

    <script id="widgetDetails-template" type="text/html">
        <div class="row fancytable content">
            <div class="large-12 columns">
                <div class="row">
                    <div class="medium-4 small-12 columns">
                        <input type="checkbox" data-bind="visible: chooseWidgets, checkedValue: $data, checked: $parent.chosenWidgets, " style="margin-bottom:0"></input>
                         &nbsp;&nbsp;
                        <span data-bind="text:name,click: toggleExtendedDetails"></span>
                        &nbsp;<i class="general" data-bind=" click: toggleExtendedDetails, css: {'foundicon-plus': !viewDetails(), 'foundicon-minus': viewDetails}"></i>
                    </div>
                    <div class="medium-2 small-6 columns" data-bind="text:chartType"></div>
                    <div class="medium-3 small-6 columns" data-bind="text: selectedDataKey"></div>
                    <div class="medium-3 small-6 columns" data-bind="text:dateUpdated"></div>
                </div>
                <!-- ko if:viewDetails -->
                <div class="row fancytable content-extended">
                    <div class="medium-4 small-12 columns">
                    Date Range:</div>
                    <div class="medium-8 small-12 columns" data-bind="html:dataFilterExpression"></div>
                </div>
                <div class="row fancytable content-extended">
                    <div class="medium-4 small-12 columns">
                    Selections:</div>
                    <div class="medium-8 small-12 columns" data-bind="html:selectionsExpression"></div>
                </div>
                <div class="row fancytable content-extended">
                    <div class="medium-4 small-12 columns">
                    Filters:
                    </div>
                    <div class="medium-8 small-12 columns" data-bind="html:conditionsExpression"></div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        
    </script>