<script type="text/html" id="dashboardmanager-template">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="view-heading">Manage existing Dashboards</h3>
            <span>Filter by tags: </span>
            <input type="checkbox" id="chkAll" data-bind="click: toggleAllTags" />
                <label>Select All</label>
            <!-- ko foreach: drata.models.tagNameList -->
            <input type="checkbox" data-bind="attr:{'id': 'chk'+ $index()}, checkedValue: $data, checked: $parent.chosenTags" />
                <label data-bind="attr:{'for': 'chk'+ $index()}, text: $data"></label>
            
            <!-- /ko -->
            <input type="checkbox" id="chkUnTagged" data-bind="checkedValue: 'untagged', checked: chosenTags" />
            <label for="chkUnTagged">Untagged</label>
        </div>
    </div>
    <!-- ko ifnot: noDashboards -->
    <div class="flex-row detail-header">
        <div class="detail-action"></div>
        <div class="flex-item flex-2">Dashboard Name</div>
        <div class="flex-item flex-1 show-for-medium-up">Date Created</div>
        <div class="dashboardView-actions">Actions</div>
    </div>
    <!-- ko template: {name: 'dashboardView-template', foreach: filteredDashboards} -->
    <!-- /ko --> 
    <!-- /ko -->
    <!-- ko if: noDashboards -->
        <div class="row">
            <div class="small-12 columns">
                <div data-alert class="alert-box secondary radius">
                  You do not have any dashboards configured.
                </div>
            </div>
        </div>
    <!-- /ko -->
</script>
<script type="text/html" id="dashboardView-template">
    <div class="detail-content" data-bind="css: { 'expand' : viewDetails }">
        <div class="flex-row">
            <div class="detail-action">
                <input type="checkbox" class="detail-toggle" data-bind="attr: { id: 'dashboarddetail' + $index() },checked: viewDetails"></input>
                <label class="detail-label" data-bind="attr: { for: 'dashboarddetail' + $index() }">
                    <i class="fa" data-bind="css: {'fa-plus': !viewDetails(), 'fa-minus': viewDetails}"></i>
                </label>
            </div>
            <div class="flex-item flex-2">
               <!-- ko editLabel: {title: name, href:url} -->
               <!-- /ko -->
            </div>
                
            <div class="flex-item flex-1 show-for-medium-up">
                <label data-bind="text: dateCreated"></label>
            </div>

            <div class="dashboardView-actions">
                <a data-bind="click: cloneDashboard">clone</a>&nbsp; <a data-bind="click:$parent.deleteDashboard.bind($parent)">remove</a>
            </div>
        </div>
        <div class="dashboardView-widgetList">
        <!-- ko template :{name:'widgetDetails-template'} -->
        <!-- /ko -->
        <!-- ko template :{name: 'tags-template', data: tagList} -->
        <!-- /ko -->
        </div>
    </div>
</script>

<script type="text/html" id="tags-template">
    <div class="row">
        <div class="small-12 columns" style="margin:1rem 0">
            <strong>Tags:</strong>
            <!-- ko foreach: tagList -->
                <span class="label success tiny tag">
                    <i class="fa fa-trash-o" data-bind="click:$parent.removeTag"></i>
                    <!--ko text: tagName --><!-- /ko --> 
                </span>
            <!-- /ko -->
             <a data-bind="visible: !addingTag(), click:toggleTagInput.bind($data, true)"><i class="fa fa-plus"></i> Add Tag</a>
        </div>
    </div>

    <div class="row collapse" style="max-width: 300px" data-bind="visible: addingTag">
        <div class="small-6 columns" data-bind="comboBox :{selectedValue: newTag, options: availableTags,optionsCaption:'choose tag'}">
        </div>
        <div class="small-3 columns">
            <a data-bind="click:addTag" class="button postfix success"><i class="fa fa-check"></i></a>
        </div>
        <div class="small-3 columns">
            <a data-bind="click:toggleTagInput.bind($data, false)" class="button postfix alert"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>
</script>

<script id="widgetclone-template" type="text/html">
    <div class="row text-center">
        <div class="small-12 columns">
            <h3 class="view-heading">Clone widgets from existing dashboards to the current Dashboard</h3>
            <!-- ko template : { name: 'filtertags-template'} -->
            <!-- /ko -->
                <button class="tiny" data-bind="enable: chosenWidgets().length > 0, click: addWidgets">Add to dashboard</button>
            
        </div>
    </div>
    
    <div class="row">
        <div class="small-12 columns">
        <!-- ko template :{name:'widgetDetails-template'} -->
        <!-- /ko -->
        </div>
    </div>
</script>

<script id="widgetmanager-template" type="text/html">
    <div class="row text-center">
        <div class="small-12 columns">
            <h3 class="view-heading">Manage Widgets</h3>
            <!-- ko template : { name: 'filtertags-template'} -->
            <!-- /ko -->
        </div>
    </div>
    
    <div class="row">
        <div class="small-12 columns">
        <!-- ko template : { name: 'widgetDetails-template' } -->
        <!-- /ko -->
        </div>
    </div>
</script>

<script id="filtertags-template" type="text/html">
    <span>Filter by Chart Type: </span>
    <input id="dhkSelectAllWidgets" data-bind="click: toggleAllChosenWidgets" type="checkbox"></input> <label for="dhkSelectAllWidgets">Select All</label>
    <!-- ko foreach: drata.global.chartMappings -->
    <input type="checkbox" data-bind="attr:{'id': 'chk_chartType'+ $index()}, checkedValue: $data.label, checked: $parent.chosenChartTypes" />
        <label data-bind="attr:{'for': 'chk_chartType'+ $index()}, text: $data.label"></label>
    <!-- /ko -->
</script>

<script id="widgetDetails-template" type="text/html">
    <div class="flex-row detail-header">
        <!--ko if: chooseWidgets -->
        <div class="detail-action">
        </div>
        <!-- /ko -->
        <div class="flex-item flex-5 show-for-large-up">Widget Name</div>
        <div class="flex-item flex-5 show-for-medium-down">Widget List</div>
        <div class="detail-chartType show-for-large-up">type</div>
        <div class="detail-datakey flex-item flex-2 show-for-large-up">Collection</div>
        <div class="detail-manage show-for-large-up">
            
        </div>
    </div>
    
    <!-- ko template :{name:'widgetDetail-template', foreach: widgetList} -->
    <!-- /ko -->
    </table>        
</script>

<script id="widgetDetail-template" type="text/html">
    <div class="detail-content" data-bind="css: { 'expand': viewDetails }">
        <div class="flex-row">
            <!--ko if: $parent.chooseWidgets -->
            <div class="detail-action">
                <input type="checkbox" data-bind="checkedValue: $data, checked: $parent.chosenWidgets" style="margin-bottom:0"></input>
            </div>
            <!-- /ko -->
            <div class="flex-item flex-5">
                <div class="flex-row">
                    <div class="detail-action">
                        <input type="checkbox" class="detail-toggle" data-bind="attr: { id: uniqId },checked: viewDetails"></input>
                        <label class="detail-label" data-bind="attr: { for: uniqId }">
                            <i class="fa" data-bind="css: {'fa-plus': !viewDetails(), 'fa-minus': viewDetails}"></i>
                        </label>
                    </div>
                    <div class="flex-item flex-1">
                        <span data-bind="text:name"></span>
                    </div>
                </div>
            </div>
            <div class="detail-chartType">
                <!-- ko text:chartType --> <!--/ko -->
            </div>
            <div class="detail-datakey flex-item flex-2 show-for-large-up">
                <!-- ko text:selectedDataKey --> <!--/ko -->
            </div>
            <div class="detail-manage">
                <a data-bind="click: manageWidget">manage</a>
            </div>
        </div>
        <div class="detail-expand">
            <div class="show-for-medium-down">
                <div class="flex-row">
                    <div class="flex-item flex-1">
                        <label>Chart Type</label>
                    </div>
                    <div class="flex-item flex-3 small-flex-1">
                        <span data-bind="text: chartType"></span>
                    </div>
                </div>

                <div class="flex-row">
                    <div class="flex-item flex-1">
                        <label>Collection</label>
                    </div>
                    <div class="flex-item flex-3 small-flex-1">
                        <span data-bind="html: selectedDataKey"></span>
                    </div>
                </div>
            </div>
            
            <div class="flex-row">
                <div class="flex-item flex-1">
                    <label>Date Range</label>
                </div>
                <div class="flex-item flex-3 small-flex-1">
                    <span data-bind="html: dataFilterExpression"></span>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-item flex-1">
                    <label>Selections</label>
                </div>
                <div class="flex-item flex-3 small-flex-1">
                    <span data-bind="html: selectionsExpression"></span>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-item flex-1">
                    <label>Filters</label>
                </div>
                <div class="flex-item flex-3 small-flex-1">
                    <span data-bind="html: conditionsExpression"></span>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-item flex-1">
                    <label>Date Created</label>
                </div>
                <div class="flex-item flex-3 small-flex-1">
                    <span data-bind="html: dateCreated"></span>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-item flex-1">
                    <label>Date Updated</label>
                </div>
                <div class="flex-item flex-3 small-flex-1">
                    <span data-bind="html: dateUpdated"></span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="dashboard-create-template">
    <div class="row">
        <div class="small-12 columns">
        <!-- ko ifnot: cloning -->
            <h3 class="view-heading">Create Dashboard</h3>
            <h3 class="view-heading"><small>You can add widgets to your dashboard in the next step. You may add one or more tags if you wish</small></h3>
        <!-- /ko -->
        <!-- ko if: cloning -->
            <h3 class="view-heading">Clone Dashboard</h3>
            <h3 class="view-heading">
                <small>Pick the widgets and tags you need to be cloned.</small> </h3>
            <h3 class="view-heading">
                <small><strong>Note: </strong>Cloning creates new instance of existing widgets. Changes made to the cloned widgets on new dashboard will not be reflected on the dashboard you cloned from.</small></h3>
        <!-- /ko -->
            <input type="text" class="giant" placeholder="Dashboard name" data-bind="value:name" />
        </div>
    </div>
    <!-- ko if: widgetList().length>0 -->
        <h6 class="strong">Included widgets &nbsp;&nbsp;<input type="checkbox" id="chk_w_s_all" data-bind="checked: selectAll"/><label for="chk_w_s_all">select all </label></h6>
            <ul class="tag-filter no-bullet" data-bind="foreach: widgetList">
                <li>
                    <input type="checkbox" style="margin:0" data-bind="attr:{'id': 'chk_widget'+ $index()}, checkedValue: $data, checked: $parent.chosenWidgets" />
                    <label data-bind="attr:{'for': 'chk_widget'+ $index()}, text: name"></label>
                </li>
            </ul>
            <!-- /ko -->
    <div class="row">
        <div class="small-12 columns">
            <!-- ko template : {name: 'tags-template', data: tags} --><!-- /ko -->
        </div>
        <div class="small-12 columns">
            <a class="button primary" data-bind="click:upsertDashboard"><i class="fa fa-plus"></i>&nbsp;Add</a>
            <!-- ko if: cloning -->
            <a class="button secondary" data-bind="click:clearAll"><i class="fa fa-times"></i>&nbsp;Clear</a>
            <!-- /ko -->
        </div>
    </div>
</script>
