

<script type="text/html" id="dashboard-template">
    <div class="row dashboard" data-bind="template:{ name: 'widget-template',foreach:widgets, afterRender:loadWidget }, sortableList: widgets">
    </div>

    <div class="row text-center" style="display:none" data-bind="visible:noWidgets">
        <div class="medium-8 medium-offset-2 columns">
            <h2>No widgets to show</h2>
            <h2><small>Start adding Widgets, you may also clone existing widgets from other dashboards.</small></h2>
            <div class="clearfix">
                <a href="#editwidget" class="button right">Create new widget</a>
                <a class="button left" href="#managewidgets">Clone Existing widgets</a>
            </div>
        </div>
    </div>
    <div class="text-center" style="display:none" data-bind="visible: dashboardNotFound">
        <h2>Dashboard not found</h2>
    </div>
</script>

<script type="text/html" id="widget-template">
    <div class="widget-outer" data-bind="attr: {'data-index': displayIndex()},css: widgetClass">
        <div class="widget-wrapper">
            <div class="row collapse widget-nav handle">
                <span class="widget-logo fa" data-bind="css: logoClass"></span>
                <div class="title" data-bind="editLabel: {title: name}">
                </div>
                <div class="actions">
                    <ul class="widget-nav-list">
                        <li data-bind="visible: !previewMode" class="action-icon edit-widget">
                            <i data-bind="click:editWidget" class="fa fa-pencil"></i>
                        </li>
                        <li data-bind="visible: !previewMode" class="action-icon remove-widget">
                            <i data-bind="click:$parent.deleteWidget" class="fa fa-times-circle"></i>
                        </li>
                    </ul>
                </div>
                <div class="clearfix widget-actions handle" data-bind="visible: !previewMode">
                    <div class="left">
                        <label>w:
                            <select data-bind="value:sizex" class="widget-select-option">
                                <option value="1">25%</option>
                                <option value="5">33.3%</option>
                                <option value="2">50%</option>
                                <option value="6">66.6%</option>
                                <option value="3">75%</option>
                                <option value="4">100%</option>
                            </select>
                        </label>
                    </div>
                    <div class="left">
                        <label>h:
                            <select data-bind="value:sizey" class="widget-select-option">
                                <option value="3">33.3%</option>
                                <option value="2">50%</option>
                                <option value="1.5">66%</option>
                                <option value="1">100%</option>
                            </select>
                        </label>
                    </div>
                    <div class="left" data-bind="visible:pieKeys().length > 1">
                        <label>show:
                        <select class="widget-select-option" data-bind="value:selectedPieKey,options: pieKeys, optionsText: 'label'"/>
                        </label>
                    </div>
                </div>
            </div>

            <div data-bind="visible: !!parseError()">
                <div data-bind="html: parseError, style : { height : widgetHeight() + 'px', paddingTop : (+widgetHeight()/2 -10) + 'px', textAlign: 'center' }"></div>
            </div>

            <div data-bind="if: !parseError(), css : {'loading': widgetLoading}">
                <!-- ko template: contentTemplate() -->
                <!-- /ko -->
            </div>
            
        </div>
    </div>
</script>
<script type="text/html" id="content-template">
    <div class="widgetContent" data-bind="attr : {
        id: widgetContentId }, 
        style: { height : $parent.widgetHeight() + 'px'}" >
        <svg></svg>
    </div>
</script>

<script type="text/html" id="numeric-content-template">
    <div class="numeric-chart" data-bind="style: { height: $parent.widgetHeight() + 'px' }">
        <div class="small-8 columns">
            <div class="row collapse">
                <div class="small-6 columns">
                    <div data-bind="style: {
                        height: (($parent.widgetHeight() - 120)) + 'px',
                        lineHeight: (($parent.widgetHeight() - 100)) + 'px',
                        zIndex: ($parent.widgetHeight() * 0.3 * 9/10) + 'px' 
                        }, resizeText: mainHeading">
                    </div>
                </div>
                <div class="small-6 columns">
                    <div data-bind="attr :{id: widgetContentId}, style: { height: (($parent.widgetHeight() - 120)) + 'px'}">
                        <svg></svg>
                    </div>                    
                </div>
            </div>
            <div class="row" style="max-height:120px;">
                <div class="medium-6 columns">
                    <div data-bind="if: totalPerChange() !== undefined" class="sub-heading">
                        <!-- ko text: initialDp().xLabel -->
                        <!-- /ko -->
                        -
                        <!-- ko text: latestDp().xLabel -->
                        <!-- /ko -->
                        <label class="label radius" data-bind="css: { 'success': totalPerChange() > 0, 'alert': totalPerChange() < 0, 'secondary' :  totalPerChange() === 0 }">
                            <!-- ko text: totalPerChange --><!-- /ko -->%
                            <span class="fa" data-bind="css: { 'success fa-arrow-up': totalPerChange() > 0, 'alert fa-arrow-down': totalPerChange() < 0}"></i>
                        </label>
                    </div>

                    <div data-bind="if: lastButOneDp() && latestDp()" class="sub-heading">
                        <!-- ko text: lastButOneDp().xLabel -->
                        <!-- /ko --> -
                        <!-- ko text: latestDp().xLabel -->
                        <!-- /ko -->
                        <label class="label radius" data-bind="css: { 'success': latestDp().perc > 0, 'alert': latestDp().perc < 0, 'secondary' :  latestDp().perc === 0 }">
                            <!-- ko text: latestDp().perc --><!-- /ko -->%
                            <span class="fa" data-bind="css: { 'success fa-arrow-up': latestDp().perc > 0, 'alert fa-arrow-down': latestDp().perc < 0}"></span>
                        </label>
                    </div>
                </div>
                <div class="medium-6 columns">
                    <div data-bind="checkboxDropdown:{options:dataKeys, selectedOptions: selectedDataKeys,optionsCaption: 'Select ddd', optionsText:'key'}">
                    </div>
                </div>
            </div>
        </div>
        <div class="small-4 columns">
            <div style="padding:.5rem" >
                <span class="fa fa-line-chart" data-bind="css: {'primary': backgroundChartType() === 'line'}, click: setChartBackground.bind($data, 'line')"></span>
                <span class="fa fa-area-chart" data-bind="css: {'primary': backgroundChartType() === 'area'}, click: setChartBackground.bind($data, 'area')"></span>
                <span class="fa fa-pie-chart" data-bind="css: {'primary': backgroundChartType() === 'pie'}, click: setChartBackground.bind($data, 'pie')"></span>
                <span class="fa fa-bar-chart" data-bind="css: {'primary': backgroundChartType() === 'bar'}, click: setChartBackground.bind($data, 'bar')"></span>
            </div>
            <ul class="no-bullet stacked-heading" data-bind="style: { 
                height: ($parent.widgetHeight() - 30) + 'px' },
            foreach: remainingDataPoints">
                <li>
                    <div data-bind="text: xLabel"></div>
                    <label data-bind="css: { 'success': perc > 0, 'alert': perc < 0}">
                        <!-- ko text: yLabel -->
                        <!-- /ko -->:
                        <!-- ko text: perc -->
                         <!-- /ko -->%
                        <i class="fa" data-bind="css: { 'fa-arrow-up': perc > 0, 'fa-arrow-down': perc < 0}"></i>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="dashboard-menu-template">
    <!-- ko foreach: untaggedList -->
        <li>
            <a data-bind="attr : {'href': '/dashboard/' + $data.dashboardId }">
                <span class="fa fa-th-large"></span> 
                <!-- ko text: dashboardName -->
                <!-- /ko --> 
            </a>
        </li>
    <!-- /ko -->

    <li><label><span class="fa fa-folder-open"></span> Tags</label>
    </li>
    <!-- ko foreach: taggedList -->
        <li class="has-dropdown not-click">
            <a>
                <span class="fa fa-folder-open"></span>
                <!-- ko text: tagName --><!-- /ko --> 
            </a>
            <ul class="dropdown">
                <li><label>Dashboards</label></li>
                <!-- ko foreach: dashboards -->
                    <li>
                        <a data-bind="attr : {'href': '/dashboard/' + $data.dashboardId }">
                            <span class="fa fa-th-large"></span> 
                            <!-- ko text: dashboardName -->
                            <!-- /ko --> 
                        </a>
                    </li>
                <!-- /ko -->
            </ul>
        </li>
      <!-- /ko -->
</script>