<script type="text/html" id="segment-template">

<div style="min-width:300px">
    <!-- ko template: {name: 'selection-template', data: selectionGroup} -->
    <!-- /ko -->
</div>

<div class="row">
    <div class="small-12 columns">
        <ul class="small-block-grid-3 medium-block-grid-6 radius chart-types">
          <!-- ko foreach: drata.global.chartMappings -->
          <li><a class="chart-type button" data-bind="css: {'primary': $parent.chartType() === $data.label, 'secondary' : $parent.chartType() !== $data.label }, click: $parent.setChartType.bind($parent, $data.label)"><span class="chart-icon fa " data-bind="css: $data.icon"></span> <!-- ko text: $data.label --><!-- /ko --> </a></li>
          <!-- /ko -->
        </ul>
            
        <!-- ko if: chartType()-->
            <!-- ko template: dataGroupTemplate -->
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="small-12 columns">
        <!-- ko template: { name: 'datafilter-template', data: dataFilter} -->
        <!-- /ko -->
    </div>
</div>

<div class="row" data-bind="with: conditionGroup">
    <div class="large-12 columns">
        <h6><strong>Conditions</strong></h6>    
        <div class="row" data-bind="visible: conditions().length > 0">
            <div class="small-12 columns">
                <div class="keystroke expression" data-bind=" html:expression"></div>
                <span data-bind="tooltip: {datakey: 'conditionSummary'}" class="fa fa-question dtooltip dtooltip-expression"></span>
            </div>
        </div>
        
        <!-- ko template: { name : 'condition-group-template'} -->
        <!-- /ko -->
    
    </div>
</div>
</script>

<script type="text/html" id="timeframeItem-template">
    <div class="row collapse">
        <div class="small-4 columns">
            <select data-bind="optionsCaption: 'Select Type', value: dateType">
                <option>static</option>
                <option>dynamic</option>
            </select>
        </div>
        <div class="small-8 columns">
            <div data-bind="visible: dateType() === 'static', dateTextBox: {
                    selectedValue: staticDate,
                    maxDate: new Date(),
                    placeholder: 'Static Date'
            }"></div>
            <div data-bind="visible: dateType() === 'dynamic', comboBox:{selectedValue: dynamicDate, options: drata.global.dateIntervalTypeAheads, optionsCaption: 'Dynamic interval'}">
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="datafilter-template">
    <div class="row">
        <div class="small-12 columns">
            <label>Top Level Filter: Select a Date Property
                <span data-bind="tooltip: {datakey: 'dateproperty'}" class="fa fa-question dtooltip"></span>
                <div data-bind="comboBox :{selectedValue: dateProp, options: drata.dashboard.propertyManager.dateProperties,optionsCaption:'choose Property',allowCustom:false}">
                </div>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <label> From:
                <!-- ko template: {
                    name: 'timeframeItem-template', 
                    data: from
                } -->
                <!-- /ko -->
            </label>
        </div>
        <div class="small-12 medium-6 columns">
            <label> To:
                <!-- ko template: {
                    name: 'timeframeItem-template', 
                    data: to
                } -->
                <!-- /ko -->
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="keystroke expression" data-bind="visible: expression, html:expression">
            </div>
            <span data-bind="tooltip: {datakey: 'dataFilterExpression'}" class="fa fa-question dtooltip dtooltip-expression"></span>
        </div>
    </div>
</script>
<script type="text/html" id="selection-template">
<div class="row">
    <div class="large-12 columns">
        <h6><strong>Selections</strong>
            <span data-bind="tooltip: {datakey: 'selectionsInfo', size: 'medium'}" class="dtooltip fa fa-question"></span>
        </h6>
        <div class="keystroke expression" data-bind="html:$data.expression()"></div>
        <div class="row">
            <div class="small-12 columns">
                <div class="clearfix" style="position:relative">
                    <!-- ko foreach: items, afterAdd: afterAdd, beforeRemove: beforeRemove -->
                    <div class="left" style="margin-right:2rem">
                        <!-- ko template: {name: 'selectionGroupTemplate'} -->
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <a class="left" style="line-height:2rem" data-bind="click: addItem"><i class="fa fa-plus"></i> Add</a>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/html" id="comp-datagroup-template">
    
    <div class="row" style="position:relative">
        <div class="small-9 columns">
            <input style="margin-bottom:0" type="checkbox" data-bind="checked:hasGrouping" />
            <label>Groupby
            <span data-bind="tooltip: {datakey: 'groupby'}" class="fa fa-question dtooltip"></span>
            </label>
            <div data-bind="ddComboBox :{enabled: hasGrouping, selectedPrefix: groupByIntervalType , prefixOptions: drata.global.propertyTypes,selectedValue: groupByProp, options:drata.dashboard.propertyManager.allProperties,optionsCaption:'Select GroupBy', allowCustom:false}">
            </div>
        </div>
        <div class="small-3 columns">
            <label>Interval
                <span data-bind="tooltip: {datakey: 'interval'}" class="fa fa-question dtooltip"></span>
            </label>
            <div data-bind="comboBox:{enabled: needsGroupByInterval, selectedValue: groupByInterval, options: groupByIntervalOptions, optionsCaption: 'Interval'}">
            </div>
        </div>
    </div>
    <!-- ko if:hasGrouping -->
        <div class="row">
            <div class="small-9 columns">
                <input style="margin-bottom:0" type="checkbox" data-bind="checked:hasDivideBy" />
                <label>Groupby level 2
                <span data-bind="tooltip: {datakey: 'groupby2'}" class="fa fa-question dtooltip"></span></label>
                <div data-bind="ddComboBox :{enabled: hasDivideBy, selectedPrefix: divideByIntervalType, prefixOptions: drata.global.propertyTypes,selectedValue: divideByProp, options:drata.dashboard.propertyManager.allProperties,optionsCaption:'Slice By', allowCustom:false}">
                </div>
            </div>
            <div class="small-3 columns">
                <label>
                    Interval
                    <span data-bind="tooltip: {datakey: 'interval'}" class="fa fa-question dtooltip"></span>
                </label>
                <div data-bind="comboBox:{enabled: needsDivideByInterval, selectedValue: divideByInterval, options: divideByIntervalOptions, optionsCaption: 'Interval'}">
                </div>
            </div>
        </div>
        <!-- ko template: 'groupbyconditions-template' -->
        <!-- /ko -->
    <!-- /ko -->
</script>
<script type="text/html" id="track-datagroup-template">
    <div class="row">
        <div class="small-8 columns">
            <label>x-axis
                <span data-bind="tooltip: {datakey: 'xaxis'}"class="fa fa-question dtooltip"></span>
                <div data-bind="ddComboBox :{selectedPrefix: xAxisType , prefixOptions: drata.global.xAxisTypes,selectedValue: xAxisProp, options:properties,optionsCaption:'x Axis', allowCustom:false}">
                </div>
            </label>
        </div>
        <div class="small-4 columns">
            <label><input style="margin-bottom:0" type="checkbox" data-bind="checked:timeseries" />
            Interval
            <span data-bind="tooltip: {datakey: 'interval'}"  class="fa fa-question dtooltip"></span></label>
            <div data-bind="comboBox:{ enabled:timeseries, selectedValue: timeseriesInterval, options: intervalOptions, optionsCaption: 'Interval' }">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="small-12 columns">
            <input style="margin-bottom:0" type="checkbox" data-bind="checked:hasGrouping" />&nbsp;<label>Split by
            <span data-bind="tooltip: {datakey: 'splitby'}" class="fa fa-question dtooltip"></span></label>

            <select data-bind="enable: hasGrouping, value:groupByProp, options:drata.dashboard.propertyManager.nonDateProperties, optionsCaption : 'Select GroupBy'">
                </select>
        </div>
    </div>

    <!-- ko if: timeseries -->
    <!-- ko template: 'groupbyconditions-template' -->
    <!-- /ko -->
    <!-- /ko -->
</script>

<script type="text/html" id="groupbyconditions-template">
    <h6><strong>Filter aggregations ?</strong>
    <span data-bind="tooltip: {datakey: 'groupbycondition'}" class="fa fa-question dtooltip"></span>
    </h6>
    <!-- ko template: {name: 'groupbycondition-template', foreach: groupByConditions} -->
    <!-- /ko -->
    <button class="tiny success add-condition" data-bind="click: addGroupByCondition"><span class="fa fa-plus success"></span> Add Grouping Filter</button>
</script>

<script type="text/html" id="groupbycondition-template">
    <div class="row collapse">
        <div class="small-2 columns" data-bind="visible: $index() > 0">
            <select data-bind="options:drata.global.logics, value:logic"></select>
        </div>
        <div class="small-4 columns" data-bind="css: {'small-offset-2': $index() === 0}">
            <select data-bind="options: selection.availableSelections, value:selection.selectedProp">
            </select>
        </div>
        <div class="small-2 columns">
            <select data-bind="options: availableOperations, value:operation">
            </select>
        </div>
        <div class="small-3 columns">
            <input type="text" class="value" data-bind="value: value" placeholder="numeric value">
            </input>
        </div>
        <div class="small-1 columns text-right">
            <i class="fa fa-times condition-action-cancel" data-bind="click: $parent.removeGroupByCondition">
            </i>
        </div>
    </div>
</script>

<script type="text/html" id="selectionGroupTemplate">
        <div class="row" style="position:relative" data-bind="attr:{style: (renderType === 'topCondition')?'position:relative' : 'position:relative;width:270px'}">
            <!-- ko if: renderType === 'topSelection' -->
                <!-- ko if : $index() === 0 -->
                <span data-bind="tooltip: {datakey: 'aggregationFunction'}" class="fa fa-question dtooltip dtooltip-aggregate-func">
                </span>
                <!-- /ko -->
                <div class="small-12 columns">
                   <div data-bind="ddComboBox :{selectedPrefix: groupBy , prefixOptions: drata.global.groupingOptions, selectedValue: selectedProp, options: drata.dashboard.propertyManager.allProperties,optionsCaption:'choose Property',enabled: hideComplex}">
                    </div>
                    
                    <!-- ko if: isComplex() -->
                    <span class="complex-overlay top-selection" data-bind="click: toggleComplex">
                        <span data-bind="html : aliasName() ? aliasName() : 'Complex Selection. <em> edit</em>'"></span>
                    </span>
                     <!-- /ko -->
                </div>
                <i class="complexcombo-toggle fa" data-bind="css:{'fa-plus': !showComplex() , 'fa-minus' : showComplex}, click:toggleComplex">
                </i>
                <!-- ko if : $index() === 0 -->
                <span data-bind="tooltip: {datakey: 'selectionProperty'}" class="fa fa-question dtooltip dtooltip-selection-prop"></span>
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: renderType === 'topCondition' -->
                <!-- ko if: !isComplex() -->
                
                 <div class="small-12 columns" data-bind="comboBox :{selectedValue: selectedProp, options: drata.dashboard.propertyManager.allProperties,optionsCaption:'choose Property',enabled: hideComplex}">
                </div>
                <span class="complexcombo-toggle fa" data-bind="css:{'fa-plus': !showComplex() , 'fa-minus' : showComplex}, click:toggleComplex" style="right:-5px">
                </span>
                 <!-- /ko -->
                <!-- ko if: isComplex() -->
                    <div class="small-12 columns" >
                        <div class="complex-overlay" data-bind="click: toggleComplex">
                           <span data-bind="html : aliasName() ? aliasName() : 'Complex Selection. <em> edit</em>'"></span>
                        </div>
                    </div>
                <!-- /ko -->

            <!-- /ko -->
            <!-- ko if: renderType === 'childSelection' -->
                <div class="small-3 columns" data-bind="visible: $index() > 0">
                    <select data-bind="options:drata.global.arithmeticOperations, value:logic"></select>
                </div>
                <!-- ko if: !isComplex() -->
                <div class="small-8 columns" data-bind="css:{'small-offset-3': $index() === 0},comboBox :{selectedValue: selectedProp, options: drata.dashboard.propertyManager.allProperties,optionsCaption:'choose Property',enabled: hideComplex}">
                </div>
                <span class="complexcombo-toggle fa" data-bind="css:{'fa-plus': !showComplex() , 'fa-minus' : showComplex}, click:toggleComplex">
                </span>
                <!-- /ko -->
                <!-- ko if: isComplex() -->
                    <div class="small-8 columns" data-bind="css:{'small-offset-3': $index() === 0}">
                        <div data-alert class="complex-overlay" data-bind="click: toggleComplex">
                           <span data-bind="html : aliasName() ? aliasName() : 'Complex Selection. <em> edit</em>'"></span>
                        </div>
                    </div>
                <!-- /ko -->
            <!-- /ko -->
            <!-- ko if:renderType !== 'topCondition' -->
           <i class="fa fa-times selection-action alert" data-bind="click: function(vm){if(renderType === 'childSelection'){$parent.removeSelection(vm)}else{$parent.removeItem(vm)}} ">
            </i>
           <!-- /ko -->
        </div>
        <!-- ko if: showPercentChange -->
        <div class="clearfix" style="position:relative; top:-1rem">
            <div class="left">
                <label><input type="checkbox" data-bind="checked: perc"></input> % Chng</label>
            </div>
            <!-- ko if : $index() === 0 -->
                &nbsp;<span data-bind="tooltip: {datakey: 'percentChange'}" class="fa fa-question dtooltip"></span>
                <!-- /ko -->
        </div>
        <!-- /ko -->     
    <div>   
        <div id="complexWrapper" class="complexcombo" data-bind="slideVisible: showComplex()">
            <div class="row">
                <div class="large-12 columns">
                    <h6>Complex Selection</h6>
            <input type="text" data-bind="visible: level === 1, value:aliasName" placeholder="Alias Name"></input>
                </div>
            </div>
            <!-- ko template: {name: 'selectionGroupTemplate', foreach: selections, afterAdd: afterAdd, beforeRemove: beforeRemove} -->
            <!-- /ko -->
            <div class="row">
                <div class="small-4 columns">
                    <a class="button tiny success" data-bind="click:addSelection"><span class="fa fa-plus"></i>&nbsp;Add</a>
                </div>
                <div class="small-4 columns">
                     <a class="button tiny primary" data-bind="click:done"><span class="fa fa-check"></span>&nbsp;Done</a>
                </div>
                <div class="small-4 columns">
                     <a class="button tiny alert" data-bind="click:clearGroups"><span class="fa fa-minus"></span>&nbsp;Clear</a>
                </div>
                
            </div>
        </div>
    </div>
    </script>

<script type="text/html" id="condition-group-template">
    
    <!-- ko template: {name: 'condition-template', foreach: conditions, afterAdd: afterAdd, beforeRemove: beforeRemove} -->
    <!-- /ko -->

    <div data-alert class="alert-box secondary" data-bind="visible:conditions().length === 0">
        You may add simple condition (Ex: a > b) or, a complex condition (a > b <em>or</em> (b < c <em>and</em> c = d))
    </div>
       
    <a class="button left tiny success" style="margin-right:10px" data-bind="click:addCondition">
        <span class="fa fa-plus"></span>&nbsp;Add Condition
    </a>
    
    <!-- ko if :!isTopLevel -->
         <a class="button left tiny" style="margin-right:10px" data-bind="click:done">
            <span class="fa fa-check"></span>&nbsp;done
        </a>
        <a class="button left tiny alert" style="margin-right:10px" data-bind="click:clear">
            <span class="fa fa-minus"></span>&nbsp;Cancel
        </a>
    <!-- /ko -->
</script>

<script type="text/html" id="condition-template">
    <div class="row">
        <div class="small-3 small-offset-4 columns" data-bind="visible:$index() > 0">
            <select data-bind="options:drata.global.logics, value:logic"></select>
        </div>
    </div>
    <div class="row">
        <!-- ko if: !isComplex() && !showComplex() -->
        <div class="small-4 columns"  data-bind=" 
            template: { name: 'selectionGroupTemplate', data: selection }">
        </div>
        <div class="small-2 columns">
            <select data-bind="options:availableOperations, value:operation"></select>
        </div>
        <div class="small-5 columns" data-bind="visible: operation() !== 'exists'">
            <span data-bind="tooltip: {datakey: 'conditionValue'}" class="fa fa-question dtooltip dtooltip-aggregate-func">
                </span>

            <div data-bind="dependableDdCombo :{selectedPrefix: valType , prefixOptions: drata.global.propertyTypes ,selectedValue: value, optionsCaption:'value'}">
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: isComplex() || showComplex() -->
        <div class="small-9 columns" data-bind="css : {'small-offset-2': $index() === 0},click:toggleComplex">
            <div data-alert class="complex-overlay" data-bind="html: complexConditionSummary">
            </div>
        </div>
        <!-- /ko -->
        <div>
            <span data-bind="tooltip: {datakey: 'complexCondition'}" class="fa fa-question dtooltip dtooltip-complexcondition">
                </span>
            <i class="fa fa-plus condition-action-complex" data-bind="click:toggleComplex"></i>
            <i class="fa fa-times condition-action-cancel" data-bind="click: $parent.removeCondition"></i>
        </div>
    </div>
    <div style="position:relative">
        <div class="complexcombo" style="width:500px" data-bind="slideVisible: showComplex()">
            <h6>Complex Condition</h6>
            <!-- ko template: { name : 'condition-group-template'} -->
            <!-- /ko -->
        </div>
    </div>
</script>

