<script type="text/html" id="segment-template">
    
<div class="row">
    <div class="large-5 columns" style="min-width:300px">
        <!-- ko template: {name: 'selection-template', data: selectionGroup} -->
        <!-- /ko -->
    </div>
    <div class="large-7 columns" style="min-width:470px">
        <!-- ko template: {name: 'group-template', data: conditionGroup} -->
        <!-- /ko -->
    </div>
</div>
<!-- ko template: {name : 'datagroup-template', data : dataGroup} -->
<!-- /ko -->
</script>
<script type="text/html" id="selection-template">
<div class="row">
    <div class="large-12 columns">
        <fieldset>
            <legend>Selections</legend>

            <div class="keystroke expression" data-bind="html:$data.expression()"></div>

            <!-- ko foreach: items, afterAdd: afterAdd, beforeRemove: beforeRemove -->
            <div class="row">
                <div class="small-12 columns" style="position:relative">
                    <!-- ko template: {name: 'selectionGroupTemplate', data: $data} -->
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <button class="button tiny success" data-bind="click: addItem"><i class="general foundicon-plus"></i>Add Selection</button>
        </fieldset>
    </div>
</div>
</script>
<script type="text/html" id="datagroup-template">
<div class="row">
    <div class="small-12 columns">
        <fieldset>
            <legend>Grouping</legend>
                <div class="row">
                    <div class="small-8 columns">
                        <div class="row">
                            <div class="small-4 columns">
                                <label class="right inline">
                                    <input type="checkbox" data-bind="checked:hasGrouping" />
                                    &nbsp;Group by</label>
                            </div>
                            <div class="small-8 columns">
                                <select data-bind="enable: hasGrouping, value:groupByProp, options:$parent.properties, optionsCaption : 'Select GroupBy'">
                                </select>
                            </div>
                        </div>

                        <!-- ko if:($parent.chartType() === 'pie' || $parent.chartType() === 'bar') && hasGrouping -->
                        <div class="row">
                            <div class="small-4 columns">
                                <label class="right inline">
                                <input type="checkbox" data-bind="checked:hasDivideBy" /> Slice by</label>
                            </div>
                            <div class="small-8 columns">
                                <select data-bind="enable: hasDivideBy,options:$parent.properties, value:divideByProp, optionsCaption: 'Slice GroupBy'"></select>
                            </div>
                        </div>

                        <!-- /ko -->
                        <!-- ko if:$parent.chartType() === 'line' || $parent.chartType() === 'area'|| $parent.chartType() === 'scatter'  -->
                            <div class="row">
                                <div class="small-4 columns">
                                    <label class="right inline">x Axis</label>
                                </div>
                                    
                                <div class="small-8 columns" data-bind="ddComboBox :{selectedPrefix: xAxisType , prefixOptions: $parent.xAxisTypes,selectedValue: xAxisProp, options:$parent.properties,optionsCaption:'x Axis', allowCustom:false}">
                                </div>
                            </div>
                                    
                            <div class="row">
                                <div class="small-4 columns">
                                    <label class="right inline">
                                        <input type="checkbox" data-bind="checked:timeseries" />
                                        TimeSeries</label>
                                </div>
                                <div class="small-8 columns">
                                    <input type="text" data-bind="enable:timeseries,value:interval" placeholder="Interval" />
                                </div>
                            </div>
                        <!-- /ko -->
                    </div>
                    <div class="small-4 columns">
                    <select data-bind="options: $parent.chartTypes, value : $parent.chartType, optionsCaption: 'select chart Type'">
                    </select>
                    </div>
                </div>
        </fieldset>
    </div>
</div>
</script>

<script type="text/html" id="selectionGroupTemplate">
    <div>
        <div class="row" style="position:relative" data-bind="attr:{style: (renderType === 'topCondition')?'position:relative' : 'position:relative;width:360px'}">
          <!-- ko if: renderType === 'topSelection' -->
                <div class="small-10 columns">
                    <div data-bind="ddComboBox :{selectedPrefix: groupBy , prefixOptions: drata.global.groupingOptions ,selectedValue: selectedProp, options:widgetProcessor.segment.properties,optionsCaption:'choose Property',enabled: hideComplex}">
                    </div>
                    
                    <!-- ko if: isComplex() -->
                    <span class="complex-overlay top-selection" data-bind="click: toggleComplex">
                        <span data-bind="html : aliasName() ? aliasName() : 'Complex Selection. <em> edit</em>'"></span>
                    </span>
                     <!-- /ko -->
                </div>
                <i class="general complexcombo-toggle" data-bind="css:{'foundicon-plus': !showComplex() , 'foundicon-minus' : showComplex}, click:toggleComplex">
                </i>
            <!-- /ko -->
            <!-- ko if: renderType === 'topCondition' -->
                <!-- ko if: !isComplex() -->
                <div class="small-12 columns" data-bind="comboBox :{selectedPrefix: groupBy , prefixOptions: drata.global.groupingOptions ,selectedValue: selectedProp, options:widgetProcessor.segment.properties,optionsCaption:'choose Property',enabled: hideComplex}">
                </div>
                <i class="general complexcombo-toggle" data-bind="css:{'foundicon-plus': !showComplex() , 'foundicon-minus' : showComplex}, click:toggleComplex" style="right:20px">
                </i>
                 <!-- /ko -->
                <!-- ko if: isComplex() -->
                    <div class="small-12 columns" >
                        <div class="complex-overlay" data-bind="click: toggleComplex">
                           <span data-bind="html : aliasName() ? aliasName() : 'Complex Selection. <em> edit</em>'"></span>
                        </div>
                    </div>
                <!-- /ko -->

            <!-- /ko -->
            <!-- ko if: renderType === 'childSelection' -->
                <div class="small-2 columns" data-bind="visible: $index() > 0">
                    <select data-bind="options:drata.global.arithmeticOperations, value:logic"></select>
                </div>
                <!-- ko if: !isComplex() -->
                <div class="small-8 columns" data-bind="css:{'small-offset-2': $index() === 0},comboBox :{selectedValue: selectedProp, options:widgetProcessor.segment.properties,optionsCaption:'choose Property',enabled: hideComplex}">
                </div>
                <i class="general complexcombo-toggle" data-bind="css:{'foundicon-plus': !showComplex() , 'foundicon-minus' : showComplex}, click:toggleComplex">
                </i>
                <!-- /ko -->
                <!-- ko if: isComplex() -->
                    <div class="small-8 columns" data-bind="css:{'small-offset-2': $index() === 0}">
                        <div data-alert class="complex-overlay" data-bind="click: toggleComplex">
                           <span data-bind="html : aliasName() ? aliasName() : 'Complex Selection. <em> edit</em>'"></span>
                        </div>
                    </div>
                <!-- /ko -->
            <!-- /ko -->
            <div class="small-2 columns">
            <span class="label alert round" style="top:6px" data-bind="visible:renderType !== 'topCondition'">
                <i class="general foundicon-remove" data-bind="click: function(vm){if(renderType === 'childSelection'){$parent.removeSelection(vm)}else{$parents[level-1].removeItem(vm)}} ">
            </i>
            </span>
            </div>
        </div>
            
        <div id="complexWrapper" class="complexcombo" data-bind="slideVisible: showComplex()">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="small-8 columns">
                             <h6>Complex Selection</h6>
                        </div>
                    </div>
                   
            <input type="text" data-bind="visible: level === 2, value:aliasName" placeholder="Alias Name"></input>
                </div>
            </div>
            <!-- ko template: {name: 'selectionGroupTemplate', foreach: selections, afterAdd: afterAdd, beforeRemove: beforeRemove} -->
            <!-- /ko -->
            <div class="row">
                <div class="small-4 columns">
                    <a class="button tiny success" data-bind="click:addSelection"><i class="general foundicon-plus"></i>&nbsp;Add</a>
                </div>
                <div class="small-4 columns">
                     <a class="button tiny primary" data-bind="click:done"><i class="general foundicon-plus"></i>&nbsp;Done</a>
                </div>
                <div class="small-4 columns">
                     <a class="button tiny alert" data-bind="click:clearGroups"><i class="general foundicon-remove"></i>&nbsp;Clear</a>
                </div>
                
            </div>
        </div>
        </div>
    </script>

<script type="text/html" id="group-template">
<div class="row">
    <div class="small-12 columns">
        <fieldset>
            <legend>Condition</legend>
             <div class="keystroke expression" data-bind="visible: conditions().length>0, html:expression"></div>
            <div class="row">
                <div class="small-12 columns conditioncombo">
                    <!-- ko template:currentTemplate -->
                    <!-- /ko -->
                </div>
            </div>
            
        </fieldset>
    </div>
</div>
</script>

<script type="text/html" id="condition-group-template">
    <ul class="inline-list">
        <li data-bind="visible: $parent.trace().length > 0">Go Back to :</li>
    <!-- ko foreach: $parent.trace -->
        <li data-bind="click:$parents[1].gobackTo"><a data-bind="text: $index() === 0 ? 'Top Level ' :'Condition ' "></a> </li>
    <!-- /ko -->
    </ul>
    <div class="row">
        <div class="small-12 columns">
            <!-- ko template: {name: 'condition-template', foreach: conditions, afterAdd: afterAdd, beforeRemove: beforeRemove} -->
            <!-- /ko -->
            <div data-alert class="complex-overlay" data-bind="slideVisible:conditions().length === 0">
                Click <em>Add</em> to add Conditions.
            </div>

            <div class="row">
                <div class="small-4 columns">
                 <a class="button tiny primary"  data-bind="visible:$parent.trace().length > 0,click:$parent.goback"><i class="general foundicon-left-arrow"></i>&nbsp;Done</a>
                </div>
                
                <div class="small-4 columns text-right">
                     <a class="button tiny alert" data-bind="click:clear"><i class="general foundicon-remove"></i>&nbsp;Clear</a>
                </div>
                <div class="small-4 columns right">
                    <a class="button tiny success" data-bind="click:addCondition"><i class="general foundicon-plus"></i>&nbsp;Add</a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="condition-template">
    <div class="row">
        <div class="small-2 columns" data-bind="visible:$index() > 0">
            <select data-bind="options:drata.global.logics, value:logic"></select>
        </div>
        <!-- ko if: !isComplex() -->
        <div class="small-4 columns"  data-bind="css : {'small-offset-2': $index() === 0},template: {name: 'selectionGroupTemplate', data: selection}">
        </div>
        <div class="small-2 columns">
            <select data-bind="options:drata.global.conditionalOperations, value:operation"></select>
        </div>
        <div class="small-2 columns">
            <input type="text" data-bind="value:value, visible: operation() !== 'exists'" placeholder="value"></input>
        </div>
        <!-- /ko -->
        <!-- ko if: isComplex -->
        <div class="small-8 columns" data-bind="css : {'small-offset-2': $index() === 0},click:expand">
            <div data-alert class="complex-overlay" data-bind="html: complexConditionSummary">
            </div>
            </div>
        <!-- /ko -->
        <div class="small-2 columns small-centered">
            <span class="label success round" style="top:6px"><i class="general foundicon-plus" data-bind="click:expand"></i>
            </span>
            <span class="label alert round" style="top:6px">
            <i class="general foundicon-remove" data-bind="click: $parent.removeCondition"></i>
            </span>
        </div>
    </div>
</script>

