<script type="text/html" id="widgeteditor-template">

    <div class="row" style="position:relative; padding-top:1rem">
        <!-- ko if: previewWidget() -->
            <div class="medium-12 large-7 large-push-5 columns preview-widget">
                <!-- ko template: { name: 'widget-template', data:previewWidget(), afterRender:loadWidget } --><!-- /ko -->
                <!-- ko if: tabularModel() -->
                <div class="row collapse">
                    <div class="small-12 columns">
                        <label class="toggle-tabular" for="chkTabular">
                            <!-- ko if: showTabular() -->
                            Hide Tabular data <span class="fa fa-chevron-circle-up"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: showTabular() -->
                            View Tabular data <span class="fa fa-chevron-circle-down"></span>
                            <!-- /ko -->
                        </label>
                    </div>
                </div>
                <input type="checkbox" data-bind="checked: showTabular" class="chk-tabular" id="chkTabular"></input>
                <div class="row collapse tabular-data">
                    <div class="small-12 columns" style="overflow-y:scroll" data-bind="style: { minHeight: '100px', maxHeight: (($(window).height()- 145) / 2) + 'px' }, tabular: tabularModel"></div>
                </div>
                <!-- /ko -->
            </div>
        <!-- /ko -->
        <!-- ko ifnot: previewWidget() -->
            <div class="medium-12 large-7 large-push-5 columns">
                <div class="preview-placeholder">
                    <h3 class="heading">Chart Preview</h3>
                </div>
            </div>
        <!-- /ko -->
        <div class="large-5 large-pull-7 medium-12 columns">
            <div class="row">
                <div class="small-12 columns">
                    <label>Widget Name
                        <input type="text" placeholder="widget name" data-bind="value: name"></input>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label>Server
                    <span data-bind="tooltip: {datakey: 'servername'}" class="fa fa-question dtooltip"></span>
                        <select data-bind="options:dataSourceNames, optionsCaption: 'choose datasource', value:dataSource"></select>
                        </label>
                </div>
                <div class="small-4 columns">
                    <label>Database
                    <span data-bind="tooltip: {datakey: 'databasename'}" class="fa fa-question dtooltip"></span>
                        <select data-bind="options:databaseNames, optionsCaption: 'choose database', value:database"></select>
                        </label>
                </div>
                <div class="small-4 columns">
                    <label>Collection Name
                    <span data-bind="tooltip: {datakey: 'collectionname'}" class="fa fa-question dtooltip"></span>
                        <select data-bind="options:dataKeys, optionsCaption: 'choose collection', value:selectedDataKey"></select>
                        </label>
                </div>
            </div>
            <!-- ko template: {name: 'segment-template', data: segment, if : selectedDataKey() !== undefined} -->
            <!-- /ko -->
        </div>
    </div>
</script>