<script type="text/html" id="widgeteditor-template">
    <div class="row" style="position:relative">
        <div class="medium-4 small-12 columns">
            <div class="row" style="margin-top:1.5rem">
                <div class="small-12 columns">
                    <label>Widget Name
                        <input type="text" placeholder="widget name" data-bind="value: name"></input>
                        </label>
                </div>
                <div class="small-6 columns">
                    <label> Width
                        <select data-bind="value:sizex">
                            <option value="1">25%</option>
                            <option value="5">33.3%</option>
                            <option value="2">50%</option>
                            <option value="6">66.6%</option>
                            <option value="3">75%</option>
                            <option value="4">100%</option>
                        </select>
                        </label>
                </div>
                <div class="small-6 columns">
                    <label>Height
                        <select data-bind="value:sizey">
                            <option value="3">33.3%</option>
                            <option value="2">50%</option>
                            <option value="1.5">66%</option>
                            <option value="1">100%</option>
                        </select>
                </div>
                <div class="small-12 columns">
                    <label>Server
                    <span data-bind="tooltip: {datakey: 'servername'}" class="icon-question dtooltip"></span>
                        <select data-bind="options:dataSourceNames, optionsCaption: 'choose datasource', value:dataSource"></select>
                        </label>
                </div>
                <div class="small-12 columns">
                    <label>Database
                    <span data-bind="tooltip: {datakey: 'databasename'}" class="icon-question dtooltip"></span>
                        <select data-bind="options:databaseNames, optionsCaption: 'choose database', value:database"></select>
                        </label>
                </div>
                <div class="small-12 columns">
                    <label>Collection Name
                    <span data-bind="tooltip: {datakey: 'collectionname'}" class="icon-question dtooltip"></span>
                        <select data-bind="options:dataKeys, optionsCaption: 'choose collection', value:selectedDataKey"></select>
                        </label>
                </div>
            </div>
        </div>
        <div class="medium-8 small-12 columns" data-bind="if: previewWidget()">
            <!-- ko template:{ name: 'widget-template',data:previewWidget(), afterRender:loadWidget } -->
            <!-- /ko -->
        </div>
        <div class="medium-8 small-12 columns preview-placeholder" data-bind="visible: !previewWidget()">
            <h3>Chart Preview</h3>
        </div>
    </div>
    <div data-bind="visible: !!parseError(), html: parseError" class="alert-box alert">
        
    </div>
    <!-- ko template: {name: 'segment-template', data: segment, if : selectedDataKey() !== undefined} -->
    <!-- /ko -->
</script>