    text{
        font: 10px arial;
    }
    .axis path{
      stroke:#ccc;
      fill:none;
      shape-rendering: crispEdges;

    }
    .axis line {
      stroke:#ccc;
      stroke-opacity: .2;
      fill:none;
      shape-rendering: crispEdges;
    }
    .tick.major .domain{
        display: none;
    }
    .axis text{
        fill: #1f77b4;
    }
    /*.label-group text{
        font:10px arial;
    }*/
    .line-group .line{
        fill:none;
        stroke-width:2;
    }
    .label-group {
        cursor:pointer;
    }
    .tool-tip {
        text-anchor:end;
        font: 12px arial;
    }
    .area-group .line{
        stroke-width:2;
        stroke-opacity:.6;
    }


    /**PIE**/
    svg.pie {
            width:auto;
            height:auto;
            display:inline;
        }

    /****/