.ui-sortable-placeholder {
  background-color: #E5E0E0;
  visibility: visible !important;
  height: 414px;
  width: 100%; }

.ui-sortable-placeholder * {
  visibility: hidden; }

/*widget css*/
.widget-outer{
  padding:.5rem;
  float:left;
  width:0;
  transition: width .5s;
}
.widget-size-1{
  width:25%;
}
.widget-size-2{
  width:50%;
}
.widget-size-3{
  width:75%;
}
.widget-size-4{
  width:100%;
}
.widget-size-5{
  width:33.333%;
}
.widget-size-6{
  width:66.666%;
}

.widget-wrapper {
  border: 1px solid #CCC;
  height: 400px;
  width:100%;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 5px .5px #ccc;
}
.widget-wrapper:last-child{
  float:right;
}
.widget-content {
  height: 365px; }

/*Modal segment*/
.mymodal-wrapper.showme {
    opacity: 1;
    visibility: visible;
}

.mymodal-wrapper {
    position: absolute;
    /*right: -103%;
    left: 103%;*/
    visibility: hidden;
    transition: visibility .1s, opacity .5s linear;
    height: auto;
    /*transition: all 1s;*/
    background-color: rgba(0, 0, 0, 0.4);
    top: 2.8rem;
    padding: 1.3rem 0;
    width: 100%;
    opacity: 0;
}

.mymodal-inner {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
}
.mymodal-wrapper.chart-type{
    height:400px;
    z-index: 9;
    top: 0;
}
.mymodal-wrapper.chart-type .mymodal-inner{
    top:33%;
}

/*End Modal Segment*/


@media only screen and (max-width: 767px) {
  .ui-sortable-placeholder {
    width: 100%; }
.widget-size-1{
  width:100%;
}
.widget-size-2{
  width:100%;
}
.widget-size-3{
  width:100%;
}
.widget-size-4{
  width:100%;
}
.widget-size-5{
  width:100%;
}
.widget-size-6{
  width:100%;
}

}

@media only screen and (max-width: 1024px) {
  .mymodal-inner {
    width:100%;
  }
}