.ui-sortable-placeholder {
  background-color: #E5E0E0;
  visibility: visible !important;
  height: 414px;
  width: 100%; }

.ui-sortable-placeholder * {
  visibility: hidden; }

/*widget css*/
.widget-outer{
  padding:.5rem;
  float:left;
  width:0;
  transition: width .5s;
}
.widget-size-1{
  width:25%;
}
.widget-size-2{
  width:50%;
}
.widget-size-3{
  width:75%;
}
.widget-size-4{
  width:100%;
}
.widget-size-5{
  width:33.333%;
}
.widget-size-6{
  width:66.666%;
}
.widget-size-y-1{
  height:300px;
}

.widget-size-y-2{
  height:647px;
}


.widget-wrapper {
  border: 1px solid #CCC;
  heimght: 400px;
  width:100%;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 5px .5px #ccc;
  position: relative;
  overflow: hidden;
}
.widget-wrapper:last-child{
  float:right;
}

.widget-content {
  height:300px;
}
.widget-content-wrapper{
  position: relative;
  left:0;
  transition:all .1s linear;
}
.widgetcontentedit{
  left:-200px;
}

/*.widget-size-3 .widget-content {
  height:650px;
}*/

/*widger nav*/

.widget-nav{
  border-bottom:1px dashed #ccc;
}
.widget-nav .title{
  line-height: 2rem;
  padding-left:1rem;
}
ul.widget-nav-list{
  list-style: none;
}
ul.widget-nav-list li{
  list-style: none;
  float:left;
  display:block;
  line-height: 2rem;
  border-left:1px solid #ccc;
}

ul.widget-nav-list li.divider:after{
  content:'.';
  visibility: hidden;
}

ul.widget-nav-list li.action-icon{
  padding:0 5px;
}

.widget-nav ul.widget-nav-list, .widget-nav ul.widget-nav-list select {
  margin:0;
  border:none;
}
.widget-nav ul.widget-nav-list select {
  background: none;
  padding-top:0;
  padding-bottom: 0;
  height: 2.2rem;
}
/*widger nav*/
/*widget-settings*/
.widget-settings{
  position: absolute;
  width: 200px;
  border-left:1px dashed #ccc;
  right:-200px;
  padding:.8rem;
  height: 100%;
  top:0;
}
/*end widget-settinhs*/

/*Modal segment*/
.mymodal-wrapper.showme {
    opacity: 1;
    visibility:visible;
}
.mymodal-wrapper {
    position: absolute;
    top:0;
    visibility:hidden;
    transition: visibility .5s, opacity .2s linear;
    height: 100%;
    width:100%;
    /*transition: all 1s;*/
    opacity: 0;
}
.mymodal-inner{
  width:100%;
  /*background-color: rgba(0,0,0,.4);*/
}
.mymodal-inner-temp{
  width:60%;
  background-color:#fff;
  margin:0 auto;
  box-shadow: 0px 0px 15px 3px #333;
}
/*End Modal Segment*/


@media only screen and (max-width: 767px) {
  .ui-sortable-placeholder {
    width: 100%; }
.widget-size-1{
  width:100%;
}
.widget-size-2{
  width:100%;
}
.widget-size-3{
  width:100%;
}
.widget-size-4{
  width:100%;
}
.widget-size-5{
  width:100%;
}
.widget-size-6{
  width:100%;
}

}

@media only screen and (max-width: 1530px) {
  .mymodal-inner-temp{
    width:80%;
  }
}
@media only screen and (max-width: 1024px) {
  .mymodal-inner-temp{
    width:100%;
  }
}

/******/
span.error{
  padding:0.375rem 0;
  font-size:.7rem;
  background:transparent;
  color : #f04124;
  margin: -5px 0 -2px;
  font-weight: bold;
}
input.error {
  border:1px solid #f04124;
}
/******/