
$widget-width: 100%;

.ui-sortable-placeholder {
    background-color: #E5E0E0;
    visibility: visible !important;
    height: 400px;
    width: $widget-width;
}


.ui-sortable-placeholder * {
    visibility: hidden;
}
/*widget css*/
.widget-wrapper {
    border: 1px solid #CCC;
    height: 100%;
}
.widget-content{
	height:337px;
	position:relative;
}
@media only screen and (max-width: 767px) {
    .ui-sortable-placeholder {
        width: 100%;
    }   
}