
.main-heading{
    text-shadow: 5px 0px 10px #404040;
}
.sub-heading{
    font-size:1rem;
    margin:.5rem 0;
    min-height: 2.5rem;
    line-height: 1.5rem;
    color:#6f6f6f;
}
/*.numeric-chart{
    overflow: hidden;
}*/
.numeric-chart svg {
    opacity: .5;
}

.numeric-chart .axis line, .axis path{
    display: none;
}
/*.numeric-chart ul.stacked-heading {
    overflow: scroll;
}*/
ul.stacked-heading{
    margin-bottom:0;
}
ul.stacked-heading li{
    font-size:.7rem;
    border-bottom:1px dashed #ccc;
    padding:.5rem 0 .5rem .5rem;
}
ul.stacked-heading li:first-child{
    border-top:1px dashed #ccc;
}
.numeric-chart .data-points{
    border-left:1px dashed #ccc;
    position:relative;
    overflow: scroll;
}
.numeric-chart .overlay-content{
    position: absolute;
    z-index: 9;
    padding: 0.9375rem;
    width:100%;
    bottom:20%;
    left:0;
}
.numeric-chart select {
    margin-bottom: 5px;
    border: none;
    background-color:transparent;
}
.numeric-chart .stacked-heading label.success{
    color: #43ac6a;
}
.numeric-chart .stacked-heading label.alert{
    color: #f04124;
}