.logic-text {
    position: relative;
    top: .4rem;
    left: 1.5rem;
    display: inline;
}

.logic-selection {
    display: none;
    max-width: 55px;
    margin-left: 0.8rem;
}

.logic-wrapper {
    border-bottom: 1px solid #ddd;
}

.row .columns.logic-toggler {
    position: absolute;
    width: 80px;
    z-index: 999;
}

.row .columns.operation-group {
    padding-left: 80px;
}

.logic-toggler:hover .logic-wrapper {
    border: none;
}

.logic-toggler:hover .logic-text {
    display: none;
}

.logic-toggler:hover .logic-selection {
    display: block;
}

.remove-group {
    color: #ff0000;
    vertical-align: middle;
}

.remove-condition {
    color: #ff0000;
    position: relative;
    top: .4rem;
    left: .5rem;
}

.vertical-bg {
    background-image: url('content/images/border_1x1.png');
    background-repeat: repeat-x;
    background-position: 0 20px;
}

.condition-view {
    position: relative;
    top: .5rem;
    margin-bottom: 1.5rem;
}

ul.segment-type{
    text-align: center;
    padding-top:1.25rem;
}
.segment-type i {
    font-size: 2rem;
}
.segment-type p{
    margin-bottom: 0;
}

.complexcombo{
    border: 1px solid #999999;
    border-top: none;
    background: #f2f2f2;
    box-shadow: 0px 0px 5px 0px #999999;
    overflow: visible;
    font-size: 0.875rem;
    position: absolute;
    width: 100%;
    margin-top: -3.3rem;
    z-index: 9;
    padding: 0 0.9375rem;
    width: 355px;
}

i.complexcombo-toggle{
    position: absolute;
    right: 80px;
    top: 9px;    
    color:#358854;
}

.combolist.complexcombo ul.combolist{
    /*position:static;*/
    width:197px;
}
.complexcombo .complexcombo{
    margin-left:-6px;
}

.complexcombo .row .columns, .complexcombo .row .column, .conditioncombo .row .columns, .conditioncombo .row .column {
  padding-left: .6rem; /* change the values to anything that you want */
  padding-right: .6rem;
}

.complexcombo .row .row, .complexcombo .row .row, .conditioncombo .row .row, .conditioncombo .row .row {
  margin-left: -0.6rem; /* change the values to anything that you want */
  margin-right: -0.6rem;
}

.complex-overlay.top-selection {
    position: absolute;
    top: 0;
    left: 74px;
    right: 14px;
    z-index: 10;
}
.complex-overlay {
    height: 2.3125rem;
    padding:0.7rem 0.5rem 0.5rem 0.5rem;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-weight: normal;
    margin-bottom: 1rem;
    font-size:.8125rem;
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f;
}
.complex-overlay:hover{
    background-color:#74bfdd;
}
