.ui-sortable-placeholder {
  background-color: #000;
  visibility: visible !important;
  height: 200px;
  width: 100%; }

.ui-sortable-placeholder * {
  visibility: hidden; }

/*@media only screen and (max-width: 767px) {
  .ui-sortable-placeholder {
    width: 100%; } }*/

